// markdown
.markdown-body {
	font-family: sans-serif;
	font-size: 15px;
	line-height: 1.7;
	color: #000;

	> *:first-child {
		&,
		> *:first-child {
			margin-top: 0 !important;
		}
	}
	> *:last-child {
		&,
		> *:last-child {
			margin-bottom: 0 !important;
		}
	}

	a.absent {
		color: #c00;
	}
	a.anchor {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		padding-left: 30px;
		margin-left: -30px;
		cursor: pointer;
	}

	.markdown-body h1,
	.markdown-body h2,
	.markdown-body h3,
	.markdown-body h4,
	.markdown-body h5,
	.markdown-body h6 {
		position: relative;
		margin: 1em 0 15px;
		padding: 0;
		font-weight: 600;
		line-height: 1.7;
		cursor: text;
		tt,
		code {
			font-size: inherit;
		}
	}
	h1 { font-size: 2.5em; border-bottom: 1px solid #ddd; }
	h2 { font-size: 2em; border-bottom: 1px solid #eee; }
	h3 { font-size: 1.5em; }
	h4 { font-size: 1.2em; }
	h5 { font-size: 1em; }
	h6 { color: #777; font-size: 1em; }
	p,
	blockquote,
	ul,
	ol,
	dl,
	table,
	pre {
		margin: 15px 0;
	}
	hr {
		background: #e7e7e7;
		border: 0 none;
		color: #ccc;
		height: 3px;
		margin: 24px 0;
		padding: 0;
	}
	li p.first {
		display: inline-block;
	}
	ul,
	ol {
		padding-left: 30px;
		> ul,
		> ol {
			margin-top: 0;
			margin-bottom: 0;
		}
		&.no-list {
			list-style-type: none;
			padding: 0;
		}
	}
	dl {
		padding: 0;
		> dt {
			padding: 0;
			margin-top: 15px;
			font-size: 14px;
			font-weight: bold;
			font-style: italic;
		}
		> dd {
			margin-bottom: 15px;
			padding: 0 15px;
		}
	}
	blockquote {
		padding: 0 15px;
		border-left: 4px solid #ddd;
		color: #777;
		> :first-child {
			margin-top: 0;
		}
		> :last-child {
			margin-bottom: 0;
		}
	}
	table {
		display: block;
		width: 100%;
		overflow: auto;
		border-spacing: 0; padding: 0;
		border-collapse: collapse;
		tbody {
			margin: 0;
			padding: 0;
			border: 0;
		}
		th {
			font-weight: bold;
		}
		th,
		td {
			border: 1px solid #ddd;
			padding: 6px 13px;
		}
		tr {
			border-top: 1px solid #ccc;
			background-color: #fff;
			&:nth-child(2n) {
				background-color: #f8f8f8;
			}
		}
	}
	img {
		display: block;
		max-width: 100%;
		margin: 30px auto;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	code, tt {
		margin: 0 2px;
		padding: 0 5px;
		border: 1px solid #ddd;
		border-radius: 3px;
		background-color: #f8f8f8;
	}
	code {
		white-space: nowrap;
	}
	pre > code {
		margin: 0;
		padding: 0;
		white-space: pre;
		border: none;
		background: transparent;
	}
	.highlight pre, pre {
		background-color: #f8f8f8;
		border: 1px solid #ddd; border-radius: 3px;
		font-size: 13px; line-height: 19px;
		overflow: auto;
		padding: 6px 10px;
	}
	pre {
		code,
		tt {
			margin: 0; padding: 0;
			background-color: transparent; border: none;
		}
	}

	// for retina
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
		img { zoom: .75; }
	}
}