// variables
$color-key: #b31e36;
$font-eng: 'Helvetica Neue', sans-serif;


// mixins
@mixin ul(){
	margin: 0; padding: 0; list-style: none;
}


// elements
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0; padding: 0; min-width: 320px;
	font-family: 'Apple SD Gothic Neo', 'NanumGothic', sans-serif;
	font-size: 16px;
	-webkit-text-size-adjust:none;
}
::selection {background: $color-key; color: #fff;}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
small {font-size: 80%;}
img {border: 0; max-width: 100%;}
a {color: $color-key;}
button, input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}
button[disabled], input[disabled] {cursor: default;}
table {border-spacing: 0; border-collapse: collapse;}
td, th {padding: 0;}
figure {margin: 0;}
form {margin: 0;}
fieldset {margin: 0; padding: 0; border: none;}
hr {margin: 15px 0; height: 1px; background: #e1e1e1; border: 0;}


/* attribute */
.blind {
	position: absolute;
	overflow:hidden; width:0; height:0; visibility:hidden;
	font-size:0; line-height:0;
}


%right-bar {
	position: absolute; content: '';
	right: 0; top: 0;
	width: 10px; height: 2px;
	background: #222;
}


/* web font */
@font-face {
	font-family: 'HelveticaNeue-CondensedBold';
	src: local('HelveticaNeue-CondensedBold'),
		url('../../vendor/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.eot?#iefix') format('embedded-opentype'),
		url('../../vendor/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.otf') format('opentype'),
		url('../../vendor/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.woff') format('woff'),
		url('../../vendor/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.ttf') format('truetype'),
		url('../../vendor/HelveticaNeue-CondensedBold/HelveticaNeue-CondensedBold.svg#HelveticaNeue-CondensedBold') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* table */
.ui-table {
	width: 100%; margin: 15px 0;
	> caption {
		padding: 0 0 4px;
		text-align: left;
		font-size: 12px; color: #333; font-weight: bold;
	}
	> thead, > tbody {
		> tr {
			> th, > td {
				padding: 7px 10px;
				border: 1px solid #ccc;
			}
		}
	}
	> thead > tr > th {background: #eee;}
	> tbody > tr {
		> th {text-align: center; font-weight: normal;}
		> td {padding-top: 6px; padding-bottom: 6px;}
	}
}

/* scroll table for mobile */
.ui-scroll-table {
	margin: 15px 0;
	.ui-table {margin: 0;}
	@media all and (max-width:768px) {
		position: relative;
		&:before {
			content: 'Scroll to the right';
			display: block;
			position: absolute; right: 0; top: 3px;
			font-weight: bold;
			font-size: 10px;
			font-family: $font-eng;
		}
		> .wrap {overflow-x: auto; overflow-y: visible;}
		.ui-table {
			min-width: 768px;
			white-space: nowrap;}
	}
}


/* center text */
.ui-text-left {text-align: left;}
.ui-text-center {text-align: center;}
.ui-text-right {text-align: right;}