@import "lib.src";


// Elements
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin:0; padding:0;
	font-size: 16px; color: #111;
	font-family: 'Apple SD Gothic Neo', 'NanumGothic', 'MalgunGothic', 'Helvetica', sans-serif;
	min-width: 320px;
	-webkit-text-size-adjust: none;
}
img, video, iframe {max-width: 100%;}
img {border: none;}
table {
	border-collapse: collapse; border-spacing: 0;
	th, td {padding: 0;}
}
form, figure, dl, dd {margin: 0;}
fieldset {margin: 0; padding: 0; border: none;}
ul, ol {margin: 15px 0; padding: 0 0 0 25px;}
a {color: #2281d8;}
hr {
	border: none; height: 1px; clear: both; background: #ccc;
	&.space {background: none; margin: 12px 0;}
	&.clear {margin: 0; height: 0; clear: both;}
}


// Attributes
.blind {
	position: absolute !important; overflow: hidden !important; visibility: hidden !important;
	width: 0 !important; height: 0 !important; font-size: 0 !important; line-height: 0 !important;
}
.dis-ib {display: inline-block;}


// text color
.gs-color-red {color: #e80000;}


// Forms
input[type=email], input[type=text], input[type=password], input[type=number], input[type=tel], textarea {
	margin: 2px 3px; padding: 8px 8px;
	font-size: 14px; color: #333; vertical-align: middle;
	background: white; border: 1px solid #acacac;
	box-shadow:inset 0 2px 3px 0 rgba(0,0,0,.15);
	border-radius: 0;
	&.no-margin {margin: 0;}
	&.block {width: 100%; margin-left: 0; margin-right: 0;}
	&.error {border: 1px solid #e80000; color: #e80000;}
	&[disabled], &[readonly] {background: #ddd;}
}
select {
	height: 30px;
	font-size: 13px;
	border: 1px solid #aaa; border-radius: .1em;
}


// Button
.gs-button {@extend %button;}
button.gs-button {
	-webkit-appearance:none; border:none;
	&.block {width: 100%;}
}


// Buttons group
.gs-btn-group {
	margin: 15px 0; padding: 0 8px;
	font-size: 0;
	&.center {text-align: center;}
	&.right {text-align: right;}
	.gs-button {vertical-align: middle;}
	@media all and (max-width:640px) {
		@include flexbox();
		padding: 0;
		> * {
			margin: 0 0 0 1px; padding-left: 3px; padding-right: 3px;
			text-align: center;
			@include flex(1);
			&:first-child {margin-left: 0;}
		}
	}
	.gs-webz & {margin-bottom:0;}
}


// Headding
.gs-headding {
	padding: 5px 80px 5px 10px; position: relative;
	border-bottom: 1px solid #ccc;
	h1 {
		margin: 0; line-height: 28px;
		font-size: 24px; color: #111;
		a {text-decoration: none; color: #111; vertical-align: middle;}
	}
	> p {
		margin: 3px 0; font-size: 12px; color: #666;
		span {
			display: inline-block;
			&:before {content: ','; display: inline-block; margin-right: 8px;}
			&:first-child:before {margin-right: 0; content: '';}
		}
	}
	> nav {
		$size : 28px;
		position: absolute; right: 10px; top: 50%;
		margin-top: 0-($size*0.5);
		@extend %clearfix;
		a {
			display: block; float: left;
			width: $size; height: $size;
			border-radius: 50%; background: #444;
			text-align: center; text-decoration: none;
			margin-left: 5px;
			i {
				font-size: 12px; color: #fff;
				line-height: $size;
			}
			&.help {background: $color-redgoose;}
		}
	}
	@media all and (max-width:640px) {
		margin-bottom: 0; padding-left: 10px;
		h1 {font-size: 20px;}
		//.icn-help {font-size: 9px; padding: 3px;}
	}
}


// Table
.gs-table {
	width: 100%;
	caption {padding: 0 0 8px; text-align: left;}
	th, td {
		border: 1px solid #ccc;
		padding: 8px 10px;
	}
	td {
		&.center {text-align: center;}
		&.nowrap {white-space: nowrap;}
	}
	thead th {background: #f1f1f1; font-weight: bold;}
}


// Paginate
.gs-paginate {
	margin: 15px 0;
	padding: 0 8px;
	font-size: 0;
	a, strong {
		margin: 0 2px; display: inline-block; padding: 10px 13px;
		color: #fff; text-align: center;
		font-size: 14px;
	}
	a {text-decoration: none; background: #a5acb0;}
	strong {background: #72b3ca;}
	@media all and (max-width:640px) {
		text-align: center;
	}
	.gs-webz & {margin-bottom: 0;}
}


// Webzine
.gs-webz {
	display: table; width: 100%;
	> * {display: table-cell; vertical-align: middle;}
	@media all and (max-width:640px) {
		display: block; width: auto;
		> * {display: block;}
	}
	&.top > * {vertical-align: top;}
}


// article body
.gs-article-body {
	font-size: 14px; line-height: 1.42857143; word-break: break-all;
	p {margin: 0 0 10px;}
	h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
		font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit;
		small, .small {font-size: 65%; font-weight: 400; line-height: 1; color: #777;}
	}
	h1, h2, h3, .h1, .h2, .h3 {margin-top: 20px; margin-bottom: 10px;}
	h4, h5, h6, .h4, .h5, .h6 {margin-top: 10px; margin-bottom: 10px;}
	h1, .h1 {font-size: 36px;}
	h2, .h2 {font-size: 30px;}
	h3, .h3 {font-size: 24px;}
	h4, .h4 {font-size: 18px;}
	h5, .h5 {font-size: 14px;}
	h6, .h6 {font-size: 12px;}
}


// text parenthesis
em[class^=gs-brk-] {font-style: normal;}
.gs-brk-type {
	&:before {content: '['}
	&:after {content: ']'}
}
.gs-brk-cnt {
	&:before {content: '('}
	&:after {content: ')'}
}
.gs-brk-quot {
	&:before {content: '"'}
	&:after {content: '"'}
}



/* Header */
#header {
	display: table; width: 100%;
	padding: 0;
	background: #a2a5a4;
	> * {display: table-cell; vertical-align: middle;}
	h1 {
		width: 110px; margin: 0; padding: 0 0 0 20px;
		font-size: 24px;
		a {
			display: block; padding: 5px 0;
			vertical-align: top;
			font-family: "Lucida Grande", "Helvetica", sans-serif;
			color: #fff; text-decoration: none; font-weight: bold;
		}
	}
	nav {
		ul {
			@extend %clearfix;
			@extend %ul;
		}
		li {
			float: left; margin: 0;
			&:last-child {margin-right: 0;}
		}
		a {
			display: block; padding: 12px 10px;
			font-size: 14px; color: #fff; font-weight: bold; text-decoration: none;
			&:hover {text-decoration: underline;}
		}
	}

	@media all and (max-width:640px) {
		display: block; width: auto;
		> * {display: block;}
		h1 {
			width: auto; padding-left: 10px;
			font-size: 20px;
			a {padding: 8px 0 5px;}
		}
		nav {
			padding-left: 6px;
			a {padding: 5px 5px 13px;}
		}
	}
}


/* Footer */
#footer {
	margin: 30px 20px 15px; text-align: right;
	address {
		padding: 0;
		font-size: 12px; color: #666;
	}
	@media all and (max-width:640px) {
		text-align: center;
	}
}


/* Container */
#container {
	margin: 15px 10px;
	@media all and (max-width:640px) {
		margin-left: 0;
		margin-right: 0;
	}
}


/* Auth */
.form-auth {
	fieldset {
		margin: 15px 0 10px; padding: 0 10px;
		label {
			display: block; margin: 5px 0 12px;
			font-size: 14px;
			strong {display: block; margin-bottom: 5px;}
		}
		input {margin: 0;}
	}
	@media all and (max-width:640px) {
		margin-left: 0; margin-right: 0;
	}
}


/* Index category */
.idx-category {
	font-size: 0;
	border-bottom: 1px solid #ddd;
	ul {
		@extend %ul;
		padding: 5px;
	}
	li {display: inline-block;}
	a {
		display: inline-block; padding: 5px 6px;
		font-size: 13px; color: #666; text-decoration: none;
	}
	li.active a {font-weight: bold; color: #469fc0; text-decoration: underline;}
	em {
		font-style: normal;
		&:before {content: '(';}
		&:after {content: ')';}
	}
}


/* Index document */
.idx-document {

	@extend %ul;
	@extend %clearfix;

	a {text-decoration: none;}
	.wrap {
		@include flexbox();
		@include align-items(center);
	}
	.figure {
		@include flex(initial);
		$width: 100px; $height: 100px;
		width: $width; height: $height;
		img {
			display: block;
			height: 100%; width: 100%;
			object-fit: cover;
		}
		.noimg {
			position: relative; display: block;
			width: 100%; height: 100%; line-height: $height;
			font-family: 'Helvetica', sans-serif;
			font-size: 12px; color: #fff;
			text-align: center; text-transform: uppercase;
			background: #ccc;
			overflow: hidden;
			&:before, &:after {
				content: '';
				position: absolute; left: 50%; top: 50%;
				z-index: 1;
				width: 200%; height: 1px;
				margin-left: -100%;
				background: #e1e1e1; background: rgba(255,255,255,.3);
			}
			&:before {@include transform(rotate(45deg));}
			&:after {@include transform(rotate(-45deg));}

		}
		@media all and (max-width:640px) {
			$width: 80px; $height: 80px;
			width: $width; height: $height;
			.noimg {line-height: $height;}
		}
	}
	.body {
		@include flex(1);
		min-width: 100px;
		.hd {
			display: block; padding: 0;
			font-size: 16px; font-weight: bold; color: $color-title;
			white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
		}
		.description {
			margin: 2px 0 6px;
			font-size: 12px;
		}
		.inf {
			margin: 4px 0 0; font-size: 0;
			span {
				display: inline; margin: 0 5px 0 0;
				font-size: 12px; color: $color-blur;
				&:after {content: ',';}
				&:last-child:after {content:'';}
			}
			b {
				font-weight: normal;
				&:after {content: ':'; margin: 0 2px;}
			}
		}
		nav {
			margin-top: 6px; font-size: 0;
			a {
				display: inline-block; padding: 6px 4px 2px;
				font-size: 13px; color: $color-blur; font-weight: bold;
				&:first-child {padding-left: 0;}
				&:hover {text-decoration: underline;}
			}
		}
	}

	&.list {
		padding: 0 1px;
		li {
			padding: 8px 10px; width: auto;
			border-bottom: 1px dashed #ccc;
		}
		.figure {margin-right: 15px;}
		.body {
			padding: 0;
			> a {display: block;}
			.inf {
				font-size: 12px;
				@include multiline-overflow(1.2em, 2);
			}
		}
	}
	&.card {
		padding: 10px 0;
		border-bottom: 1px dashed #ddd;
		li {float: left; padding: 10px 10px; width: 100%;}
		.wrap {
			box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
			&:hover {background: #fafafa;}
		}
		.body {
			padding: 8px 10px 8px 12px;
			.hd {font-size: 14px;}
			.inf {}

		}
	}
	&.thumnail {
		padding: 10px 0;
		border-bottom: 1px dashed #ddd;
		li {float: left; padding: 10px 10px; width: 100%;}
		.wrap {
			display: block;
			box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
			&:hover {background: #fafafa;}
		}
		.figure {
			$height: 150px;
			display: block; width: auto; height: $height;
			.noimg {
				line-height: $height;
				&:before {@include transform(rotate(34deg));}
				&:after {@include transform(rotate(-34deg));}
			}
		}
		.body {
			display: block;
			padding: 12px 10px;
			.hd {
				height: 25px; overflow: hidden;
				padding-bottom: 5px;
				font-size: 14px;
			}
			.inf {
				font-size: 12px;
				line-height: 1.2em; height: 1.2em * 3;
				span {
					display: block;
					&:after {display: none;}
				}
			}
		}
	}

	@media all and (min-width:480px) {
		&.card li {}
		&.thumnail li {width: 33.33%;}
	}
	@media all and (min-width:768px) {
		&.card li {width: 50%;}
		&.thumnail li {width: 25%;}
	}
	@media all and (min-width:1024px) {
		&.card li {width: 33.33%;}
		&.thumnail li {width: 20%;}
	}
	@media all and (min-width:1440px) {
		&.card li {width: 25%;}
		&.thumnail li {width: 16.66%;}
	}
	@media all and (min-width:1600px) {
		&.card li {}
		&.thumnail li {width: 14.28%;}
	}
	@media all and (min-width:1920px) {
		&.card li {width: 20%;}
		&.thumnail li {width: 12.5%;}
	}
	@media all and (min-width:2000px) {
		&.card li {width: 16.66%;}
		&.thumnail li {width: 10%;}
	}

	.empty {
		padding: 30px 0 !important;
		float: none !important;
		width: auto !important;
		font-size: 16px; color: $color-blur;
		text-align: center;
	}
	.permission-denied {font-size: 14px; color: #999;}
}


/* form group */
.form-group {
	input[type=text], input[type=tel], input[type=email], input[type=password], textarea {margin: 0;}
	select {margin-left: 0;}
	legend {
		width: 100%;
		padding: 6px 0 6px 10px; margin-bottom: 0;
		font-size: 16px; font-weight: bold; color: #333;
		border-bottom: 1px solid #ccc;
	}
	label {
		> input, > span {vertical-align: middle;}
	}
	> legend {
		display: block; margin-bottom: 5px;
		font-size: 18px;
	}
	> dl {
		border-bottom: 1px dashed #ccc;
		> dt, > dd {padding: 0 10px;}
		> dt {
			margin-top: 12px;
			margin-bottom: 10px;
			font-size: 14px; font-weight: 600;
			&:before {
				@extend %gs-icon;
				content: "\e601";
				margin: 0 3px 0 0;
				font-size: 9px; color: $color-key;
				vertical-align: middle;
				line-height: 0;
			}
			> label {vertical-align: middle;}
		}
		> dd {
			margin-bottom: 8px;
			font-size: 13px; color: $color_blur;
			> p {margin: 4px 0 0 0;}
			.error {color: #e80000;}
			label.error {display: block; margin: 4px 0 0 0;}
		}
	}

	.gs-webz {
		> dt, > dd {padding: 8px 10px;}
		> dt {width: 150px;}
		> dd {margin: 3px 0 0 0; padding-left: 0;}
	}
	.message {
		color: $color-blur; font-size: 16px; margin: 0; padding: 30px 10px;
		border-bottom: 1px dashed #ddd;
	}
	.attach-files {

	}
	.checkboxes {
		margin: 0;
		label {
			display: block;
			margin: 1px 0;
			padding: 6px 8px;
			background: #eee;
		}
		input, span {vertical-align: middle;}
		span {font-size: 13px;}
	}

	&.margin {margin: 15px 0;}

	@media all and (max-width:640px) {
		.gs-webz {
			border-bottom: none;
			margin: 15px 10px;
			> dt {padding: 0; margin: 0 0 4px;}
			> dd {padding: 0;}
		}
	}
}


/* article body */
.gs-article-body {margin: 15px 10px 30px;}


/* attach files */
.attach-files {
	h1 {margin: 0 0 8px; font-size: 14px; color: #111;}
	ul {
		@extend %ul;
		@extend %clearfix;
		margin: 5px 0 0 -10px;
		font-family: $font-eng; font-size: 12px;
	}
	li {margin: 0 10px; padding: 3px 0; float: left;}
	a {
		display: inline-block; margin-left: 4px;
		text-decoration: none;
	}
	&.box {
		margin: 0 0 12px; padding: 15px;
		background: #f5f5f5; border-radius: .1em;
		ul {color: #888; line-height: 1.6;}
		a {
			margin-left: 0; padding-left: .6em;
			text-indent: -.6em;
			&:before {content: '- '}
		}
	}
}


/* JSON code */
.json-code {
	margin: 15px 10px 30px;
	font-size: 13px;
}


/* patch - plugin snippet */
.snippet-wrap pre.sh_sourceCode {box-shadow: 0 0 0 !important;}


/* error */
.gs-error {
	margin: 15px 0; padding: 15px;
	background: $color-redgoose;
	h1 {
		margin: 0;
		font-size: 18px; color: #fff;
	}
	p {
		margin: 4px 0 0;
		font-size: 13px; color: #fff; color: rgba(255,255,255,.85);
	}
}


/* search */
.gs-search {
	margin: 15px 0 30px;
	text-align: center;
	fieldset {
		padding: 0 10px;
		legend {@extend .blind;}
		div {
			position: relative;
			input {
				display: block; margin: 0; padding: 9px 35px 9px 10px;
				width: 100%; border-radius: 2px;
				font-size: 13px;
			}
			button {
				position: absolute; right: 5px;top: 50%;
				margin: -14px 0 0; padding: 4px 5px;
				border: none; background: none; cursor: pointer;
				i {
					@extend %gs-icon;
					font-size: 18px; color: #333;
					&:after {content: '\e608';}
				}
				span {display: none;}
			}
		}
	}
}
