@import "lib";

/* Header */
#header {
	display: table; width: 100%;
	padding: 0;
	background: #a2a5a4;
	> * {display: table-cell; vertical-align: middle;}
	h1 {
		width: 110px; margin: 0; padding: 0 0 0 20px;
		font-size: 24px;
		a {
			display: block; padding: 5px 0;
			vertical-align: top;
			font-family: "Lucida Grande", "Helvetica", sans-serif;
			color: #fff; text-decoration: none; font-weight: bold;
		}
	}
	nav {
		ul {
			@extend %clearfix;
			@extend %ul;
		}
		li {
			float: left; margin: 0;
			&:last-child {margin-right: 0;}
		}
		a {
			display: block; padding: 12px 10px;
			font-size: 14px; color: #fff; font-weight: bold; text-decoration: none;
			&:hover {text-decoration: underline;}
		}
	}

	@media all and (max-width:640px) {
		display: block; width: auto;
		> * {display: block;}
		h1 {
			width: auto;
			padding-left: 10px;
			font-size: 20px;
			a {padding: 8px 0 5px;}
		}
		nav {
			padding-left: 6px;
			a {padding: 5px 5px 13px;}
		}
	}
}


/* Footer */
#footer {
	margin: 30px 20px 15px; text-align: right;
	address {
		padding: 0;
		font-size: 12px; color: #666;
	}
	@media all and (max-width:640px) {
		text-align: center;
	}
}


/* Container */
#container {
	margin: 15px 10px;
	@media all and (max-width:640px) {
		margin-left: 0;
		margin-right: 0;
	}
}


/* Auth */
.form-auth {
	fieldset {
		margin: 15px 0 10px; padding: 0 10px;
		label {
			display: block; margin: 5px 0 12px;
			font-size: 14px;
			strong {display: block; margin-bottom: 5px;}
		}
		input {margin: 0;}
	}
	@media all and (max-width:640px) {
		margin-left: 0; margin-right: 0;
	}
}


/* Index category */
.idx-category {
	font-size: 0;
	border-bottom: 1px solid #ddd;
	ul {
		@extend %ul;
		padding: 5px;
	}
	li {display: inline-block;}
	a {
		display: inline-block; padding: 5px 6px;
		font-size: 13px; color: #666; text-decoration: none;
	}
	li.active a {font-weight: bold; color: #469fc0; text-decoration: underline;}
	em {
		font-style: normal;
		&:before {content: '(';}
		&:after {content: ')';}
	}
}


/* Index document */
.idx-document {

	@extend %ul;
	@extend %clearfix;

	a {text-decoration: none;}
	.wrap {
		@include flexbox();
		@include align-items(center);
	}
	.figure {
		@include flex(initial);
		$width: 100px; $height: 100px;
		width: $width; height: $height;
		img {
			display: block;
			height: 100%; width: 100%;
			object-fit: cover;
		}
		.noimg {
			position: relative; display: block;
			width: 100%; height: 100%; line-height: $height;
			font-family: 'Helvetica', sans-serif;
			font-size: 12px; color: #fff;
			text-align: center; text-transform: uppercase;
			background: #ccc;
			overflow: hidden;
			&:before, &:after {
				content: '';
				position: absolute; left: 50%; top: 50%;
				z-index: 1;
				width: 200%; height: 1px;
				margin-left: -100%;
				background: #e1e1e1; background: rgba(255,255,255,.3);
			}
			&:before {@include transform(rotate(45deg));}
			&:after {@include transform(rotate(-45deg));}

		}
		@media all and (max-width:640px) {
			$width: 80px; $height: 80px;
			width: $width; height: $height;
			.noimg {line-height: $height;}
		}
	}
	.body {
		@include flex(1);
		.hd {
			display: block; padding: 0 0 3px;
			font-size: 16px; font-weight: bold; color: $color-title;
			white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
		}
		.description {
			margin: 2px 0 6px;
			font-size: 12px;
		}
		.inf {
			font-size: 0;
			span {
				display: inline-block; margin: 0 5px 0 0;
				font-size: 12px; color: $color-blur;
				&:after {content: ',';}
				&:last-child:after {content:'';}
			}
			b {
				font-weight: normal;
				&:after {content: ':'; margin: 0 2px;}
			}
		}
		nav {
			margin-top: 6px;
			font-size: 0;
			a {
				display: inline-block; padding: 6px 4px 2px;
				font-size: 13px; color: $color-blur; font-weight: bold;
				&:first-child {padding-left: 0;}
				&:hover {text-decoration: underline;}
			}
		}
	}

	&.list {
		padding: 0 1px;
		li {
			padding: 8px 10px; width: 100%;
			border-bottom: 1px dashed #ddd;
		}
		.figure {margin-right: 15px;}
		.body {
			padding: 0;
			.inf {
				font-size: 12px;
				@include multiline-overflow(1.2em, 2);
			}
		}
	}
	&.card {
		padding: 10px 0;
		border-bottom: 1px dashed #ddd;
		li {float: left; padding: 10px 10px; width: 100%;}
		.wrap {
			box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
			&:hover {background: #fafafa;}
		}
		.body {
			padding: 8px 10px 8px 12px;
			.hd {font-size: 14px;}
			.inf {}

		}
	}
	&.thumnail {
		padding: 10px 0;
		border-bottom: 1px dashed #ddd;
		li {float: left; padding: 10px 10px; width: 100%;}
		.wrap {
			display: block;
			box-shadow: 1px 1px 3px 1px rgba(0,0,0,.1);
			&:hover {background: #fafafa;}
		}
		.figure {
			$height: 150px;
			display: block; width: auto; height: $height;
			.noimg {
				line-height: $height;
				&:before {@include transform(rotate(34deg));}
				&:after {@include transform(rotate(-34deg));}
			}
		}
		.body {
			display: block;
			padding: 12px 10px;
			.hd {font-size: 14px; padding-bottom: 5px;}
			.inf {
				font-size: 12px;
				line-height: 1.2em; height: 1.2em * 3;
				span {
					display: block;
					&:after {display: none;}
				}
			}
		}
	}

	@media all and (min-width:480px) {
		&.card li {}
		&.thumnail li {width: 33.33%;}
	}
	@media all and (min-width:768px) {
		&.card li {width: 50%;}
		&.thumnail li {width: 25%;}
	}
	@media all and (min-width:1024px) {
		&.card li {width: 33.33%;}
		&.thumnail li {width: 20%;}
	}
	@media all and (min-width:1440px) {
		&.card li {width: 25%;}
		&.thumnail li {width: 16.66%;}
	}
	@media all and (min-width:1600px) {
		&.card li {}
		&.thumnail li {width: 14.28%;}
	}
	@media all and (min-width:1920px) {
		&.card li {width: 20%;}
		&.thumnail li {width: 12.5%;}
	}
	@media all and (min-width:2000px) {
		&.card li {width: 16.66%;}
		&.thumnail li {width: 10%;}
	}

	.empty {
		padding: 30px 0 !important;
		float: none !important;
		width: auto !important;
		font-size: 16px; color: $color-blur;
		text-align: center;
	}
}


/* form group */
.form-group {
	input[type=text], input[type=tel], input[type=email], input[type=password], textarea {margin: 0;}
	select {margin-left: 0;}
	legend {
		width: 100%;
		padding: 6px 0 6px 10px; margin-bottom: 0;
		font-size: 16px; font-weight: bold; color: #333;
		border-bottom: 1px solid #ccc;
	}
	label {
		> input, > span {vertical-align: middle;}
	}
	> legend {
		display: block; margin-bottom: 5px;
		font-size: 18px;
	}
	> dl {
		border-bottom: 1px dashed #ccc;
		> dt, > dd {padding: 0 10px;}
		> dt {
			margin-top: 12px;
			margin-bottom: 10px;
			font-size: 14px; font-weight: 600;
			&:before {
				@extend %gs-icon;
				content: "\e601";
				margin: 0 3px 0 0;
				font-size: 9px; color: $color-key;
				vertical-align: middle;
				line-height: 0;
			}
			> label {vertical-align: middle;}
		}
		> dd {
			margin-bottom: 8px;
			font-size: 13px; color: $color_blur;
			> p {margin: 4px 0 0 0;}
			.error {color: #e80000;}
			label.error {display: block; margin: 4px 0 0 0;}
		}
	}

	.gs-webz {
		> dt, > dd {padding: 8px 10px;}
		> dt {width: 150px;}
		> dd {margin: 3px 0 0 0; padding-left: 0;}
	}
	.message {
		color: $color-blur; font-size: 16px; margin: 0; padding: 30px 10px;
		border-bottom: 1px dashed #ddd;
	}
	.attach-files {

	}
	.checkboxes {
		margin: 0;
		label {
			display: block;
			margin: 1px 0;
			padding: 6px 8px;
			background: #eee;
		}
		input, span {vertical-align: middle;}
		span {font-size: 13px;}
	}

	&.margin {margin: 15px 0;}

	@media all and (max-width:640px) {
		.gs-webz {
			border-bottom: none;
			margin: 15px 10px;
			> dt {padding: 0; margin: 0 0 4px;}
			> dd {padding: 0;}
		}
	}
}


/* article body */
.gs-article-body {
	margin: 15px 10px 30px;
	font-size: 14px; line-height: 1.48;
}


/* attach files */
.attach-files {
	h1 {
		margin: 0 0 8px;
		font-size: 14px; color: #111;
	}
	ul {
		@extend %ul;
		margin: 5px 0 0;
		font-family: $font-eng; font-size: 12px;
	}
	li {margin: 3px 0;}
	a {
		display: inline-block; margin-left: 4px;
		text-decoration: none;
	}
	&.box {
		margin: 0 0 12px; padding: 15px;
		background: #f5f5f5;
		border-radius: .1em;
		ul {
			color: #888;
			line-height: 1.6;
		}
		a {
			margin-left: 0;
			padding-left: .6em;
			text-indent: -.6em;
			&:before {content: '- '}
		}
	}
}


/* JSON code */
.json-code {
	margin: 15px 10px 30px;
	font-size: 13px;
}


/* patch - plugin snippet */
.snippet-wrap pre.sh_sourceCode {box-shadow: 0 0 0 !important;}

