@import "lib";

body {padding: 0 15px;}
main {
	position: relative;
	max-width: 1280px; margin: 0 auto;
}

/* header */
#header {
	text-align: center;
	margin: 0 0 30px;
	h1 {
		padding: 30px 0 0;
		font-size: 0;
		a {display: inline-block;}
	}
	nav {
		margin: 20px 0 0;
		font-size: 0;
		ul {@include ul();}
		li {display: inline-block;}
		a {
			display: inline-block; padding: 10px 20px;
			font-family: 'Helvetica', 'Verdana', sans-serif;
			font-size: 14px; text-decoration: none; color: #222;
			&:hover {text-decoration: underline;}
		}
		.active a {color: #aaa;}
	}
	@media all and (max-width:768px) {
		nav {
			li {width: 50%;}
			a {
				padding-top: 5px; padding-bottom: 5px;
				padding-left: 5px; padding-right: 5px;
			}
		}
	}
}

/* footer */
#footer {
	position: relative;
	padding: 22px 0 20px;
	text-align: right;
	&:before {@extend %right-bar;}
	p {
		margin: 0;
		font-family: $font-eng;
		font-size: 11px; color: #303030;
	}
}

/* container */
.container {
	$sideWidth : 200px;
	position: relative; padding: 20px 0 0;
	> aside {
		float: left; width: #{$sideWidth - 15};
		nav {
			position: absolute;
			margin-left: -10px;
			width: #{$sideWidth - 15};
		}
		&.fixed nav {position: fixed; top: 0;}
		ul {
			@include ul();
			padding-left: 20px;
		}
		h1 {
			margin: 0; padding: 25px 0 10px 20px;
			font-family: 'HelveticaNeue-CondensedBold', sans-serif;
			font-size: 24px; color: $color-key;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		a {
			display: block;
			padding: 5px 0 5px 0;
			text-decoration: none;
			color: #222; font-size: 14px;
			&:hover {text-decoration: underline;}
		}
		.active > a {color: #aaa;}
	}
	#contents {
		position: relative;
		margin-left: $sideWidth;
		&:before {@extend %right-bar;}
	}
	@media all and (max-width:768px) {
		> aside {display: none;}
		#contents {margin-left: 0;}
	}
}

/* basic page */
.page {
	$basic-margin: 10px;
	font-size: 14px; color: #222;
	line-height: 1.6;
	p {margin: $basic-margin 0;}
	ul, ol {
		padding-left: 24px;
		> li {margin: 4px 0;}
		p {
			margin-top: $basic-margin * 0.3;}
	}
	h1, h2, h3 {font-family: 'HelveticaNeue-CondensedBold', $font-eng;}
	> section {
		margin: 0 0 100px;
		> h1 {
			position: relative; margin: 0 0 20px; padding: 10px 0 0;
			font-size: 33px; color: #222;
			&:before {
				content: ''; position: absolute;
				left: 0; top: 0;
				width: 30px; height: 2px;
				background: $color-key;
			}
		}
		> h2 {
			margin: 30px 0 15px;
			font-size: 22px;
		}
		> section {
			> h1 {font-size: 24px; margin-bottom: 12px;}
			> h2 {font-size: 18px;}
		}
	}
	figure {margin: $basic-margin 0;}
	code {
		margin: 0; padding: .2em 0;
		background: #eee;
		border-radius: 3px;
		font-size: 12px;
		font-family: Monaco, Consolas, "Liberation Mono", Menlo, Courier, monospace;
		&:before {letter-spacing: -0.2em; content: "\00a0";}
		&:after {letter-spacing: -0.2em; content: "\00a0";}
	}
	pre {
		padding: 15px;
		margin: $basic-margin 0;
		overflow: auto; line-height: 1.45;
		background: #eee;
		> code {
			background: transparent;
			&:before {content: '';}
			&:after {content: '';}
		}
	}
	.fig-center {
		margin: 25px 0 40px;
		text-align: center;
		> img {display: block; margin: 0 auto;}
		figcaption {margin-top: 8px; text-align: left; font-size: 12px;}
		&.border > img {border: 1px solid #ccc;}
	}
	.fig-group {
		margin: 24px 0 40px;
		font-size: 0;
		figure {
			display: inline-block; margin: 0 3px;
			font-size: 11px; color: #222;
			text-align: right;
		}
		&.center {text-align: center;}
		img {border: 1px solid #e1e1e1;}
	}
	.not-list-style {
		padding-left: 0; list-style: none;
	}
}