@import "lib";

body {padding: 0 15px;}
main {
	position: relative;
	max-width: 1280px; margin: 0 auto;
}

/* header */
#header {
	text-align: center;
	margin: 0 0 30px;
	h1 {
		padding: 30px 0 0;
		font-size: 0;
		a {display: inline-block;}
	}
	nav {
		margin: 20px 0 0;
		font-size: 0;
		ul {@include ul();}
		li {display: inline-block;}
		a {
			display: inline-block; padding: 10px 20px;
			font-family: 'Helvetica', 'Verdana', sans-serif;
			font-size: 14px; text-decoration: none;
			color: #222;
			&:hover {text-decoration: underline;}
		}
		.active a {color: #aaa;}
	}
}

/* footer */
#footer {
	position: relative;
	padding: 22px 0 20px;
	text-align: right;
	&:before {@extend %right-bar;}
	p {
		margin: 0;
		font-family: $font-eng;
		font-size: 11px; color: #303030;
	}
}

/* container */
.container {
	$sideWidth : 200px;
	position: relative; padding: 20px 0 0;
	> aside {
		float: left; width: #{$sideWidth - 15};
		nav {
			position: absolute;
			margin-left: -10px;
			width: #{$sideWidth - 15};
		}
		&.fixed nav {position: fixed; top: 0;}
		ul {
			@include ul();
			padding-left: 15px;
		}
		h1 {
			margin: 0; padding: 25px 0 10px 15px;
			font-family: 'HelveticaNeue-CondensedBold', sans-serif;
			font-size: 22px; color: $color-key;
			letter-spacing: -1px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
		a {
			display: block;
			padding: 5px 0 5px 0;
			text-decoration: none;
			color: #222; font-size: 14px;
			&:hover {text-decoration: underline;}
		}
		.active > a {color: #aaa;}
	}
	#contents {
		position: relative;
		margin-left: $sideWidth;
		&:before {@extend %right-bar;}
	}
	@media all and (max-width:768px) {
		> aside {display: none;}
		#contents {margin-left: 0;}
	}
}

/* basic page */
.page {
	p {
		margin: 15px 0;
		line-height: 1.6;
		font-size: 13px; color: #222;
	}
	ul, ol {
		padding-left: 24px;
		line-height: 20px;
		font-size: 13px;
	}
	> section {
		margin: 0 0 100px;
		> h1 {
			position: relative; margin: 0 0 25px; padding: 10px 0 0;
			font-size: 36px; color: #222;
			font-family: 'HelveticaNeue-CondensedBold', sans-serif;
			&:before {
				content: ''; position: absolute;
				left: 0; top: 0;
				width: 30px; height: 2px;
				background: $color-key;
			}
		}
		> h2 {
			margin: 30px 0 15px;
			font-weight: normal;
		}
	}
	figure {margin: 15px 0;}
	.fig-center {
		margin: 24px 0 40px;
		text-align: center;
		> img {display: block; margin: 0 auto;}
	}
	.fig-group {
		margin: 24px 0 40px;
		font-size: 0;
		figure {
			display: inline-block; margin: 0 3px;
			font-size: 11px; color: #222;
			text-align: right;
		}
		&.center {text-align: center;}
		img {border: 1px solid #e1e1e1;}
	}
	.not-list-style {
		padding: 0;
		list-style: none;
		line-height: 20px;
	}
}