@import "lib";

body {padding: 0 15px;}
main {
	position: relative;
	max-width: 1440px; margin: 0 auto;
}

/* header */
#header {

}

/* footer */
#header {

}

/* container */
.container {
	position: relative;
	> aside {

	}
	> div {

	}
}
