// variables
$color-key: #b31e36;


// mixins
@mixin ul(){
	margin: 0; padding: 0; list-style: none;
}


// elements
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body {
	margin: 0; padding: 0; min-width: 320px;
	font-family: 'Apple SD Gothic Neo', 'NanumGothic', sans-serif;
	font-size: 16px;
	-webkit-text-size-adjust:none;
}
::selection {background: $color-key; color: #fff;}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline;
}
small {font-size: 80%;}
img {border: 0; max-width: 100%;}
a {color: $color-key;}
button, input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer;
}
input[type="checkbox"], input[type="radio"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0;
}
button[disabled], input[disabled] {cursor: default;}
table {border-spacing: 0; border-collapse: collapse;}
td, th {padding: 0;}
figure {margin: 0;}
form {margin: 0;}
fieldset {margin: 0; padding: 0; border: none;}
hr {margin: 15px 0; height: 1px; background: #e1e1e1; border: 0;}


/* attribute */
.blind {
	position: absolute;
	overflow:hidden; width:0; height:0; visibility:hidden;
	font-size:0; line-height:0;
}