/* Variables */
$button_basicColor: #a5acb0;
$button_backgroundHighlightColor: #72b3ca;
$button_textColor: #fff;

$color_strong: #111;
$color_basic: #333;
$color_blur: #666;
$color_warning: #f00;
$color_highlight: #72b3ca;

$text_text-size: 14px;
$text_line-height: 1.428571429;

$margin_side: 10px;

$width-for-desktop: 640px;


/* mixin */
@mixin gradiant($startColor:#ffffff, $endColor:#000000, $mattColor:#666666) {
	background: $mattColor;
	background: -webkit-gradient(linear, left top, left bottom, from(#{$startColor}), to(#{$endColor}));
	background: -moz-linear-gradient(top, #{$startColor}, #{$endColor});
	background: -o-linear-gradient(top, #{$startColor}, #{$endColor});
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}');
}


/* placeholder */
%clear {
	&:after {content:''; display:block; clear: both;}
}

%ul {
	margin: 0; padding: 0; list-style: none;
}

%blind {
	position: absolute; overflow: hidden; visibility: hidden;
	width: 0; height: 0; font-size: 0; line-height: 0;
}

%button {
	display: inline-block; cursor: pointer;
	margin: 0; padding: 11px 20px;
	border: none;
	background: $button_basicColor;
	font-size: 14px; color: $button_textColor; text-decoration: none;
	&.btn-small {
		padding:8px 15px; font-size: 12px;
	}
	&.btn-highlight {
		color: $button_textColor;
		background: $button_backgroundHighlightColor;
	}
	&.btn-block {
		display: block;
	}
}

%goose-icon {
	font-family: 'goose-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* Tags */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin:0; padding:0;
	font-size:16px; color: $color_basic;
	font-family: 'Apple SD Gothic Neo', 'NanumGothic', 'MalgunGothic', sans-serif;
	min-width: 320px;
	-webkit-text-size-adjust: none;
	font-size: $text_text-size;
	line-height: $text_line-height;
	color: $color_basic;
}
img, video, iframe {max-width: 100%;}
img {border: none;}
table {
	border-collapse: collapse; border-spacing: 0;
	th, td {padding: 0;}
}
form {margin: 0;}
fieldset {margin: 0; padding: 0; border: none;}
ul, ol {margin: 15px 0; padding: 0 0 0 25px;}
li {margin: 3px 0;}
a {color: #2281d8;}
hr {
	border: none; height: 1px; clear: both; background: #ccc;
	&.space {background: none; margin: 12px 0;}
}


/* Attributes */
.blind {@extend %blind;}


/* Forms */
input[type=email], input[type=text], input[type=password], input[type=number], input[type=tel], textarea {
	margin: 2px 3px; padding: 8px 8px;
	font-size: $text_text-size; color: #333; vertical-align: middle;
	background: white; border: 1px solid #acacac;
	box-shadow:inset 0 2px 3px 0px rgba(0,0,0,.2);
	border-radius: 0;
	&.marginZero {margin: 0;}
	&.block {width: 100%; margin-left: 0; margin-right: 0;}
	&[disabled], &[readonly] {background: #ddd;}
}
textarea {line-height: $text_line-height;}
select {margin: 0;}


/* Buttons */
.ui-button {
	@extend %button;
}
button.ui-button {
	-webkit-appearance:none; border:none;
	&.block {width: 100%;}
}


/* Headding */
.hgroup {
	padding: 0; position: relative;
	border-bottom: 1px solid #ccc;
	> h1 {
		font-size: 20px; margin: 0; line-height: 28px;
		a {color: $color_strong; text-decoration: none;}
	}
	> p {margin: 0 0 4px; font-size: 12px; color: $color_blur;}

	@media all and (min-width:640px) {
			padding: 0;
			> h1 {margin-bottom: 5px;}
	}
}


/* Table */
.ui-table {
	width: 100%;
	caption {padding: 0 0 8px; text-align: left;}
	th, td {
		border: 1px solid #ccc;
		padding: 8px 10px;
	}
	td {
		&.center {text-align: center;}
		&.nowrap {white-space: nowrap;}
	}
	thead {
		th {background: #f1f1f1;}
	}
}


/* Controller */
.controller {
	margin: 15px 0;
	dl {margin: 0; text-align: center;}
	dt, dd {margin: 12px 0;}
	@media all and (min-width:640px) {
		margin: 15px 0;
		&:after {content:''; display:block; clear: both;}
		dl {margin: 0;}
		dt {float: left; margin: 0;}
		dd {float: right; margin: 0;}
		.btngroup {margin: 0;}
	}
}


/* Paginate */
.paginate {
	a, strong {
		margin: 0; display: inline-block; padding: 9px 13px 6px;
		color: $button_textColor; text-align: center;
	}
	a {text-decoration: none; background: $button_basicColor;}
	strong {background: $button_backgroundHighlightColor;}
}


/* Button group */
.btngroup {
	display: table; width: 100%; margin: 15px 0;
	span {
		display: table-cell; padding-left: 1px;
		&:first-child {padding-left: 0;}
	}
	a {display: block; text-align: center; padding-left: 0; padding-right: 0;}
	button {width: 100%;}
	@media all and (min-width:640px) {
		display: block; width: auto; text-align: right;
		span {display: inline-block;}
		a {padding-left: 20px; padding-right: 20px;}
	}
}