/* Tags */
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin:0; padding:0;
	font-size:16px; font-family: sans-serif; color: $color_basic;
	min-width: 320px;
	-webkit-text-size-adjust: none;
	font-size: $text_text-size;
	line-height: $text_line-height;
	color: $color_basic;
}
img, video, iframe {max-width: 100%;}
img {border: none;}
table {
	border-collapse:collapse; border-spacing:0;
	th, td {padding: 0;}
}
form {margin: 0;}
fieldset {margin: 0; padding: 0; border: none;}
ul, ol {margin: 15px 0; padding: 0 0 0 25px;}
li {margin: 3px 0;}
a {color: #2281d8;}


/* Attributes */
.blind {@extend %blind;}
.ib {display: inline-block;}


/* Forms */
input[type=email], input[type=text], input[type=password], input[type=number], input[type=tel], textarea {
	margin: 2px 3px; padding: 8px 8px;
	font-size: $text_text-size; color: #333; vertical-align: middle;
	background: white; border: 1px solid #acacac;
	box-shadow:inset 0 2px 3px 0px rgba(0,0,0,.2);
	border-radius: 0;
	&.marginZero {margin: 0;}
	&.block {width: 100%; margin-left: 0; margin-right: 0;}
	&[disabled], &[readonly] {background: #ddd;}
}
textarea {line-height: $text_line-height;}
select {margin: 0;}


/* Buttons */
.ui-button {
	@extend %button;
}
button.ui-button {
	-webkit-appearance:none; border:none;
	&.block {width: 100%;}
}


/* Headding */
.hgroup {
	padding: 0; position: relative;
	border-bottom: 1px solid #ccc;
	> h1 {
		font-size: 20px; margin: 0 0 8px;
		a {color: $color_strong; text-decoration: none;}
	}
	> p {margin: 0 0 4px; font-size: 13px; color: $color_blur;}
}
@media all and (min-width:640px) {
	.hgroup {
		padding: 0;
		> h1 {margin-bottom: 5px;}
	}
}


/* Controller */
.controller {
	margin: 15px 0;
	dl {margin: 0; text-align: center;}
	dt, dd {margin: 12px 0;}
}
@media all and (min-width:640px) {
	.controller {
		margin: 15px 0;
		&:after {content:''; display:block; clear: both;}
		dl {margin: 0;}
		dt {float: left; margin: 0;}
		dd {float: right; margin: 0;}
		.btngroup {margin: 0;}
	}
}


/* Paginate */
.paginate {
	a, strong {
		margin: 0; display: inline-block; padding: 9px 13px 6px;
		color: $button_textColor; text-align: center;
	}
	a {text-decoration: none; background: $button_basicColor;}
	strong {background: $button_backgroundHighlightColor;}
}


/* Button group */
.btngroup {
	display: table; width: 100%; margin: 15px 0;
	span {
		display: table-cell; padding-left: 1px;
		&:first-child {padding-left: 0;}
	}
	a {display: block; text-align: center; padding-left: 0; padding-right: 0;}
	button {width: 100%;}
}
@media all and (min-width:640px) {
	.btngroup {
		display: block; width: auto; text-align: right;
		span {display: inline-block;}
		a {padding-left: 20px; padding-right: 20px;}
	}
}


/* table */
.ui-table {
	width: 100%; border-collapse: collapse;
	> caption {
		text-align: left;
		font-size: 14px; font-weight: 600;
		padding: 0 0 5px 0;
	}
	th, td {
		padding: 0;
		border-width: 1px; border-style: solid; border-color: #ccc;
	}
	th {
		text-align: center;
	}
	thead {
		th {
			padding: 8px 0;
			background: #eee;
		}
	}
	tbody {
		th, td {
			padding: 7px 8px;
			border-bottom: 1px solid #ccc;
		}
		th {
			background: #f9f9f9; white-space: nowrap;
		}
	}
	.center {text-align: center;}
	.nowrap {white-space: nowrap;}
}


/* list */
.ui-list {
	> li {
		margin: 5px 0 20px 0;
	}
}