*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { margin: 0; padding: 0; font-family: Helvetica, sans-serif; }

button { margin: 0; padding: 14px 20px; cursor: pointer; font-size: 16px; color: #fff; font-weight: 600; background: #72B3CA; border: none; }

main { margin: 0 auto; padding: 0 15px; max-width: 720px; }

header h1 { color: #898c8b; font-size: 32px; }

form { margin: 0; padding: 0; }
form fieldset { margin: 0 0 20px; padding: 15px; border: 1px solid #A2A5A4; }
form fieldset legend { font-size: 16px; font-weight: 600; color: #555; }
form label { display: block; margin: 20px 0; }
form label.first { margin-top: 10px; }
form label > strong { margin: 0 0 5px 0; font-weight: normal; display: block; font-size: 14px; color: #666; }
form label > strong:before { content: '- '; }
form label > span { display: block; }
form label > span input { margin: 0; padding: 9px 8px; width: 100%; font-size: 14px; color: #333; border: 1px solid #aaa; box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2); }
form label > span .error { color: #da1313; }
form label > span > label.error { display: block; margin: 6px 0 0; font-size: 13px; }
form hr { display: block; margin: 20px 0; height: 1px; background: #ddd; border: none; }
form > nav { margin: 15px 0; text-align: center; }
form > nav button { width: 100%; }

@media (min-width: 600px) { form label { display: table; width: 100%; margin: 10px 0; }
  form label > strong, form label > span { display: table-cell; vertical-align: middle; }
  form label > strong { width: 140px; }
  form label > span input { width: auto; }
  form > nav button { width: auto; padding-left: 30px; padding-right: 30px; } }
