/* Variables */
/* mixin */
/* placeholder */
#header nav ul:after, .goose-categories ul:after { content: ''; display: block; clear: both; }

#header nav ul, .goose-categories ul { margin: 0; padding: 0; list-style: none; }

.blind, .goose-auth fieldset legend { position: absolute; overflow: hidden; visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }

.ui-button { display: inline-block; cursor: pointer; margin: 0; padding: 11px 20px; border: none; background: #a5acb0; font-size: 14px; color: #fff; text-decoration: none; }
.btn-small.ui-button { padding: 8px 15px; font-size: 12px; }
.btn-highlight.ui-button { color: #fff; background: #72b3ca; }
.btn-block.ui-button { display: block; }

/* Tags */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { margin: 0; padding: 0; font-size: 16px; font-family: sans-serif; color: #333; min-width: 320px; -webkit-text-size-adjust: none; font-size: 14px; line-height: 1.42857; color: #333; }

img, video, iframe { max-width: 100%; }

img { border: none; }

table { border-collapse: collapse; border-spacing: 0; }
table th, table td { padding: 0; }

form { margin: 0; }

fieldset { margin: 0; padding: 0; border: none; }

ul, ol { margin: 15px 0; padding: 0 0 0 25px; }

li { margin: 3px 0; }

a { color: #2281d8; }

hr { border: none; height: 1px; clear: both; background: #ccc; }
hr.space { background: none; margin: 12px 0; }

/* Attributes */
/* Forms */
input[type=email], input[type=text], input[type=password], input[type=number], input[type=tel], textarea { margin: 2px 3px; padding: 8px 8px; font-size: 14px; color: #333; vertical-align: middle; background: white; border: 1px solid #acacac; box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.2); border-radius: 0; }
input[type=email].marginZero, input[type=text].marginZero, input[type=password].marginZero, input[type=number].marginZero, input[type=tel].marginZero, textarea.marginZero { margin: 0; }
input[type=email].block, input[type=text].block, input[type=password].block, input[type=number].block, input[type=tel].block, textarea.block { width: 100%; margin-left: 0; margin-right: 0; }
input[type=email][disabled], input[type=email][readonly], input[type=text][disabled], input[type=text][readonly], input[type=password][disabled], input[type=password][readonly], input[type=number][disabled], input[type=number][readonly], input[type=tel][disabled], input[type=tel][readonly], textarea[disabled], textarea[readonly] { background: #ddd; }

textarea { line-height: 1.42857; }

select { margin: 0; }

/* Buttons */
button.ui-button { -webkit-appearance: none; border: none; }
button.ui-button.block { width: 100%; }

/* Headding */
.hgroup { padding: 0; position: relative; border-bottom: 1px solid #ccc; }
.hgroup > h1 { font-size: 20px; margin: 0; line-height: 28px; }
.hgroup > h1 a { color: #111; text-decoration: none; }
.hgroup > p { margin: 0 0 4px; font-size: 12px; color: #666; }
@media all and (min-width: 640px) { .hgroup { padding: 0; }
  .hgroup > h1 { margin-bottom: 5px; } }

/* Table */
.ui-table { width: 100%; }
.ui-table caption { padding: 0 0 8px; text-align: left; }
.ui-table th, .ui-table td { border: 1px solid #ccc; padding: 8px 10px; }
.ui-table td.center { text-align: center; }
.ui-table td.nowrap { white-space: nowrap; }
.ui-table thead th { background: #f1f1f1; }

/* Controller */
.controller { margin: 15px 0; }
.controller dl { margin: 0; text-align: center; }
.controller dt, .controller dd { margin: 12px 0; }
@media all and (min-width: 640px) { .controller { margin: 15px 0; }
  .controller:after { content: ''; display: block; clear: both; }
  .controller dl { margin: 0; }
  .controller dt { float: left; margin: 0; }
  .controller dd { float: right; margin: 0; }
  .controller .btngroup { margin: 0; } }

/* Paginate */
.paginate a, .paginate strong { margin: 0; display: inline-block; padding: 9px 13px 6px; color: #fff; text-align: center; }
.paginate a { text-decoration: none; background: #a5acb0; }
.paginate strong { background: #72b3ca; }

/* Button group */
.btngroup { display: table; width: 100%; margin: 15px 0; }
.btngroup span { display: table-cell; padding-left: 1px; }
.btngroup span:first-child { padding-left: 0; }
.btngroup a { display: block; text-align: center; padding-left: 0; padding-right: 0; }
.btngroup button { width: 100%; }
@media all and (min-width: 640px) { .btngroup { display: block; width: auto; text-align: right; }
  .btngroup span { display: inline-block; }
  .btngroup a { padding-left: 20px; padding-right: 20px; } }

/* error message */
.errorMsg { margin: 0; padding: 1em .5em; color: #666; }

/* Header */
#header { padding: 0 10px 5px; border-bottom: 1px solid #999; background: #a2a5a4; }
#header h1 { margin: 0; padding: 6px 20px 0 0; font-size: 20px; }
#header h1 a { display: inline-block; padding: 1px 0; vertical-align: top; font-family: "Lucida Grande", "Helvetica", sans-serif; color: #fff; text-decoration: none; font-weight: bold; }
#header nav { padding: 5px 0 0 0; }
#header nav li { float: left; margin: 0 10px 0 0; }
#header nav li:last-child { margin-right: 0; }
#header nav a { display: block; padding: 2px 0 4px; font-size: 13px; color: #fff; font-weight: bold; text-decoration: none; }
#header nav a:hover { text-decoration: underline; }

/* Footer */
#footer { margin: 30px 10px 15px; text-align: center; }
#footer address { padding: 0; font-size: 12px; color: #666; }

/* Container */
#container { margin: 15px 0; }
#container .hgroup { padding: 0 10px; }

/* Auth */
.goose-auth fieldset { margin: 15px 0; padding: 0; }
.goose-auth fieldset label { display: block; margin-bottom: 5px; font-size: 14px; }

/* Categories */
.goose-categories { border-bottom: 1px solid #ddd; padding: 5px; padding-left: 5px; }
.goose-categories li { float: left; }
.goose-categories a { display: block; padding: 3px 5px; font-size: 12px; color: #666; text-decoration: none; }
.goose-categories a:hover { text-decoration: underline; }
.goose-categories li.active a { font-weight: bolder; color: #469fc0; text-decoration: underline; }

/* Index */
.goose-index { margin: 0; padding: 0; list-style: none; }
.goose-index:after { content: ''; display: block; clear: both; }
.goose-index dl, .goose-index dd { margin: 0; }
.goose-index a { display: block; text-decoration: none; }
.goose-index em { font-style: normal; }
.goose-index li { position: relative; float: left; margin: 0; }
.goose-index dl { background: #fff; box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2); }
.goose-index dt img { display: block; width: 100%; height: 100%; object-fit: cover; }
.goose-index strong { display: block; color: #b68250; font-size: 14px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.goose-index strong.big { font-size: 16px; }
.goose-index .inf { font-size: 13px; color: #666; margin-top: 3px; }
.goose-index .noimg { overflow: hidden; width: 100%; height: 100%; font-family: 'Helvetica'; font-size: 12px; text-align: center; color: #fff; text-transform: uppercase; background: #ccc; }
.goose-index nav { margin-top: 5px; }
.goose-index nav:after { content: ''; display: block; clear: both; }
.goose-index nav a { display: block; float: left; padding: 3px 8px; font-size: 13px; font-weight: 600; color: #666; text-decoration: none; }
.goose-index nav a:hover { text-decoration: underline; }
.goose-index nav a.highlight { color: #333; }
.goose-index nav a:first-child { padding-left: 0; }
.goose-index.list { margin: 0; }
.goose-index.list li { width: 100%; padding: 10px 10px; border-bottom: 1px dashed #d6d6d6; }
.goose-index.list dl { box-shadow: 0 0 0; }
.goose-index.list dt, .goose-index.list .noimg { display: none; }
.goose-index.list .inf span:after { content: ','; }
.goose-index.list .inf span:last-child:after { content: ''; }
.goose-index.card { margin: 5px 0; }
.goose-index.card li { width: 100%; padding: 10px 10px; }
.goose-index.card li:hover dl { background: #fafafa; }
.goose-index.card dl { height: 100px; overflow: hidden; }
.goose-index.card dt { float: left; margin-right: 12px; width: 100px; height: 100%; }
.goose-index.card dd { padding: 12px 15px; }
.goose-index.card .noimg { line-height: 100px; }
.goose-index.card .inf { overflow: hidden; text-overflow: ellipsis; height: 36px; }
.goose-index.card .inf span:after { content: ','; }
.goose-index.card .inf span:last-child:after { content: ''; }
.goose-index.thumnail { margin: 5px 0; }
.goose-index.thumnail li { width: 50%; padding: 10px 10px; }
.goose-index.thumnail .noimg { width: 100%; height: 150px; line-height: 150px; }
.goose-index.thumnail dt img { width: 100%; height: 150px; }
.goose-index.thumnail dd { padding: 12px 10px; }
.goose-index.thumnail .inf { height: 50px; font-size: 12px; }
.goose-index.thumnail .inf:after { content: ''; display: block; clear: both; }
.goose-index.thumnail .inf span { display: block; line-height: 1.3; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
.goose-index .empty { padding: 30px 0 !important; width: 100% !important; text-align: center; font-size: 16px; color: #666; border-bottom: 1px dashed #d6d6d6; }
.goose-index .empty:hover { background: none; }
.goose-index .placeHolder dl { background: #e4f5fa; }
@media all and (min-width: 480px) { .goose-index.thumnail li { width: 33.33%; } }
@media all and (min-width: 768px) { .goose-index.card li { width: 50%; }
  .goose-index.thumnail li { width: 25%; } }
@media all and (min-width: 1024px) { .goose-index.card li { width: 33.33%; }
  .goose-index.thumnail li { width: 20%; } }
@media all and (min-width: 1440px) { .goose-index.card li { width: 25%; }
  .goose-index.thumnail li { width: 16.66%; } }
@media all and (min-width: 1600px) { .goose-index.thumnail li { width: 14.28%; } }
@media all and (min-width: 1920px) { .goose-index.card li { width: 20%; }
  .goose-index.thumnail li { width: 12.5%; } }
@media all and (min-width: 2000px) { .goose-index.card li { width: 16.66%; }
  .goose-index.thumnail li { width: 10%; } }

/* Article body */
.articleBody { margin: 0 10px; }

/* Form */
.goose-form input[type=text], .goose-form input[type=tel], .goose-form input[type=email], .goose-form input[type=password], .goose-form textarea { margin: 0; }
.goose-form select { margin-left: 0; }
.goose-form fieldset > dl { margin: 15px 10px; }
.goose-form fieldset > dl > dt { margin: 0 0 4px 3px; padding: 0; font-size: 14px; font-weight: 600; word-break: break-all; }
.goose-form fieldset > dl > dt:before { content: ''; display: inline-block; width: 5px; height: 10px; margin-right: 5px; background-image: url("../img/ico_arrow1.png"); background-position: 0 45%; background-repeat: no-repeat; background-size: 5px auto; }
.goose-form fieldset > dl > dd { margin: 3px 0 0 0; font-size: 13px; color: #666; }
.goose-form fieldset > dl > dd > p { margin: 4px 0 0 0; }
.goose-form fieldset > dl > dd .error { color: #e80000; }
.goose-form fieldset > dl > dd label.error { display: block; margin: 4px 0 0 0; }
.goose-form fieldset .required:before { content: '* '; }
.goose-form fieldset > legend { font-size: 18px; margin-bottom: 5px; }
.goose-form .message { color: #666; font-size: 16px; margin: 0; padding: 30px 10px 30px; border-bottom: 1px dashed #ddd; }

/* JSON */
.jsonCode { margin: 0 10px; }
.jsonCode .snippet-wrap pre.sh_sourceCode { margin-top: 1.5em; }

/* Documents */
.Documents > section { margin: 15px 10px 50px; font-size: 13px; }
.Documents > section > h1 { margin: 0; font-size: 20px; font-weight: bold; }
.Documents > section > p { margin: 10px 0; color: #333; }
.Documents > section > ul, .Documents > section > ol { margin: 12px 0; padding-left: 20px; }
.Documents > section > ul > li > strong, .Documents > section > ol > li > strong { font-size: 14px; }
.Documents > section > section { margin: 15px 0 40px; }
.Documents > section > section > h1 { margin: 15px 0 15px; font-size: 16px; }
.Documents code { display: inline; margin: 0 2px; padding: 0 3px; font-size: 13px; font-family: 'Consolas', 'Inconsolata', 'Courier', 'monospace'; border: 1px solid #eaeaea; border-radius: 3px; background-color: #f8f8f8; }
.Documents pre > code { margin: 0; }
.Documents pre.code { margin: 10px 0; font-size: 0; }
.Documents pre.code > code { display: block; margin: 0; padding: 3px 8px; line-height: 1.5; overflow: auto; white-space: pre; }

/* For desktop */
@media all and (min-width: 640px) { #header h1 { float: left; line-height: 31px; padding-top: 5px; font-size: 24px; }
  #header h1 a { padding: 0; }
  #header nav { padding: 14px 0 0 0; }
  #header nav li { float: left; margin-right: 15px; width: auto; }
  #header nav li a { font-size: 14px; padding: 0; }
  #container { margin: 15px 10px 20px; }
  #container .hgroup > h1 { font-size: 24px; }
  #container .hgroup > p span:before { content: '| '; padding-left: 3px; padding-right: 3px; color: #999; }
  #container .hgroup > p span:first-child:before { display: none; }
  #container .hgroup.detail > h1 { font-size: 16px; margin-bottom: 0; }
  #footer { text-align: right; }
  .goose-auth fieldset, .goose-auth nav { padding: 0; }
  .goose-categories a { font-size: 13px; }
  .goose-form fieldset > dl.table { display: table; width: 100%; margin: 0; border-bottom: 1px solid #ddd; }
  .goose-form fieldset > dl.table.first { border-top: 1px solid #ddd; }
  .goose-form fieldset > dl.table > dt, .goose-form fieldset > dl.table > dd { display: table-cell; vertical-align: middle; padding: 8px 0; }
  .goose-form fieldset > dl.table > dt { width: 130px; margin: 0; padding-left: 10px; padding-right: 10px; font-size: 13px; }
  .goose-form fieldset > dl.table > dd { margin: 0; }
  .jsonCode { margin: 0; } }
