@import "init.scss";

/* error message */
.errorMsg {
	margin:0; padding:1em .5em; color:#666;
}


/* Header */
#header {
	padding: 0 $margin_side 5px;
	border-bottom: 1px solid #999;
	background: #a2a5a4;
	h1 {
		margin: 0; padding: 6px 20px 0 0;
		font-size: 20px;
		a {
			display: inline-block; padding: 1px 0;
			vertical-align: top;
			font-family: "Lucida Grande", "Helvetica", sans-serif;
			color: #fff; text-decoration: none; font-weight: bold;
		}
	}
	nav {
		padding: 5px 0 0 0;
		ul {
			@extend %ul;
			@extend %clear;
		}
		li {
			float: left; margin: 0 10px 0 0;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			display: block; padding: 2px 0 4px;
			font-size: 13px; color: #fff; font-weight: bold; text-decoration: none;
			&:hover {text-decoration: underline;}
		}
	}
}


/* Footer */
#footer {
	margin: 30px $margin_side 15px; text-align: center;
	address {
		padding: 0;
		font-size: 12px; color: $color_blur;
	}
}


/* Container */
#container {
	margin: 15px 0;
	.hgroup {
		padding: 0 $margin_side;
		font-family: "Lucida Grande", sans-serif;
	}
	@media all and (min-width:$width-for-desktop) {
		margin: 15px $margin_side 20px;
		.hgroup {
			> h1 {font-size: 24px;}
			> p {
				span {
					&:before {
						content: '| '; padding-left: 3px; padding-right: 3px; color: #999;
					}
					&:first-child:before {display: none;}
				}
			}
			&.detail > h1 {font-size: 16px; margin-bottom: 0;}
		}
	}
}


/* Auth */
.goose-auth {
	fieldset {
		margin: 15px 0; padding: 0;
		legend {@extend %blind;}
		label {display: block; margin-bottom: 5px; font-size: 14px;}
	}
}


/* Categories */
.goose-categories {
	border-bottom: 1px solid #ddd;
	padding: 5px 5px 5px $margin_side - 5;
	ul {
		@extend %ul;
		@extend %clear;
	}
	li {float: left;}
	a {
		display: block; padding: 3px 5px;
		font-size:12px; color: $color_blur; text-decoration: none;
		&:hover {text-decoration:underline;}
	}
	li.active a {font-weight:bolder; color:#469fc0; text-decoration:underline;}
}


/* Index */
.goose-index {
	margin: 0; padding: 0; list-style: none;
	&:after {content: ''; display: block; clear: both;}
	dl, dd {margin: 0;}
	a {display: block; text-decoration: none;}
	em {font-style: normal;}
	li {position: relative; float: left; margin: 0;}
	dl {background: #fff; box-shadow: 0 1px 4px rgba(0,0,0,.2);}
	dt img {
		display: block; width: 100%; height: 100%;
		object-fit: cover;
	}
	strong {
		display: block;
		color: #b68250; font-size: 14px;
		overflow: hidden; white-space: nowrap; text-overflow: ellipsis;
		&.big {font-size: 16px;}
		&.disabled {color: #999;}
	}
	.inf {font-size: 13px; color: #666; margin-top: 3px;}
	.noimg {
		overflow: hidden; width: 100%; height: 100%;
		font-family: 'Helvetica', sans-serif; font-size: 12px; text-align: center; color: #fff; text-transform: uppercase;
		background: #ccc;
	}
	nav {
		margin-top: 5px;
		&:after {content: ''; display: block; clear: both;}
		a {
			display: block; float: left; padding: 3px 8px;
			font-size: 13px; font-weight: 600; color: $color_blur;
			text-decoration: none;
			&:hover {text-decoration: underline;}
			&.highlight {color: $color_basic;}
			&:first-child {padding-left: 0;}
		}
	}

	&.list {
		$imageSize: 150px;
		margin: 0;
		li {
			width: 100%; padding: 10px $margin_side;
			border-bottom:1px dashed #d6d6d6;
		}
		dl {box-shadow: 0 0 0;}
		dt, .noimg {display: none;}
		.inf span {
			&:after {content: ',';}
			&:last-child:after {content: '';}
		}
	}
	&.card {
		$imageSize: 100px;
		margin: 5px 0;
		li {
			width: 100%; padding: 10px 10px;
			&:hover dl {background: #fafafa;}
		}
		dl {height: $imageSize; overflow: hidden;}
		dt {
			float: left; margin-right: 12px;
			width: $imageSize; height: 100%;
		}
		dd {padding: 12px 15px;}
		.noimg {line-height: $imageSize;}
		.inf {
			overflow: hidden; text-overflow: ellipsis;
			height: 36px;
			span {
				&:after {content: ',';}
				&:last-child:after {content: '';}
			}
		}
	}
	&.thumnail {
		$imageSize: 150px;
		margin: 5px 0;
		li {
			width: 50%; padding: 10px 10px;
			&:hover dl {background: #fafafa;}
		}
		.noimg {width: 100%; height: $imageSize; line-height: $imageSize;}
		dt img {width: 100%; height: $imageSize;}
		dd {padding: 12px 10px;}
		.inf {
			height: 50px; font-size: 12px;
			&:after {content: ''; display: block; clear: both;}
			span {
				display: block; line-height: 1.3;
				overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
			}
		}
	}

	.empty {
		padding: 30px 0 !important; width: 100% !important;
		text-align: center; font-size: 16px; color: $color_blur;
		border-bottom:1px dashed #d6d6d6;
		&:hover {background: none;}
	}
	.placeHolder dl {background: #e4f5fa;}

	@media all and (min-width:480px) {
		&.card li {}
		&.thumnail li {width: 33.33%;}
	}
	@media all and (min-width:768px) {
		&.card li {width: 50%;}
		&.thumnail li {width: 25%;}
	}
	@media all and (min-width:1024px) {
		&.card li {width: 33.33%;}
		&.thumnail li {width: 20%;}
	}
	@media all and (min-width:1440px) {
		&.card li {width: 25%;}
		&.thumnail li {width: 16.66%;}
	}
	@media all and (min-width:1600px) {
		&.card li {}
		&.thumnail li {width: 14.28%;}
	}
	@media all and (min-width:1920px) {
		&.card li {width: 20%;}
		&.thumnail li {width: 12.5%;}
	}
	@media all and (min-width:2000px) {
		&.card li {width: 16.66%;}
		&.thumnail li {width: 10%;}
	}
}


/* Article body */
.articleBody {margin: 0 $margin_side;}


/* Form */
.goose-form {
	input[type=text],
	input[type=tel],
	input[type=email],
	input[type=password],
	textarea {
		margin: 0;
	}
	select {margin-left: 0;}
	fieldset {
		> dl {
			margin: 15px $margin_side;
			> dt {
				margin: 0 0 4px 3px; padding: 0;
				font-size: 14px; font-weight: 600;
				word-break: break-all;
				&:before {
					@extend %goose-icon;
					content: "\e601";
					margin: 0 3px 0 0;
					font-size: 9px;
					color: #37b0c9;
					vertical-align: middle;
					line-height: 0;
				}
			}
			> dd {
				margin: 3px 0 0 0; font-size: 13px; color: $color_blur;
				> p {margin: 4px 0 0 0;}
				.error {color: #e80000;}
				label.error {display: block; margin: 4px 0 0 0;}
			}
		}
		.required:before {content: '* ';}
		> legend {font-size: 18px; margin-bottom: 5px;}
	}
	.message {
		color: $color_blur; font-size: 16px; margin: 0; padding: 30px $margin_side 30px;
		border-bottom: 1px dashed #ddd;
	}

	@media all and (min-width:$width-for-desktop) {
		fieldset {
			> dl.table {
				display: table; width: 100%; margin: 0;
				border-bottom: 1px solid #ddd;
				&.first {border-top: 1px solid #ddd;}
				> dt, > dd {display: table-cell; vertical-align: middle; padding: 8px 0;}
				> dt {width: 130px; margin: 0; padding-left: 10px; padding-right: 10px;}
				> dd {margin: 0; padding-right: 10px;}
			}
			> dl.full {
				margin: 0; padding: 10px 0;
				border-bottom: 1px solid #ddd;
				> dt {margin: 0 0 8px 10px;}
				> dd {padding: 0 10px;}
			}
		}
	}
}


/* JSON */
.jsonCode {
	margin: 0 $margin_side;
	.snippet-wrap pre.sh_sourceCode {margin-top: 1.5em;}
}


/* Documents */
.Documents {
	> section {
		margin: 15px $margin_side 50px; font-size: 13px;
		> h1 {margin: 0; font-size: 20px; font-weight: bold;}
		> p {margin: 10px 0; color: #333;}
		> ul, > ol {
			margin: 12px 0; padding-left: 20px;
			> li {
				> strong {font-size: 14px;}
			}
		}
		> section {
			margin: 15px 0 40px;
			> h1 {
				margin: 15px 0 15px;
				font-size: 16px;
			}
		}
	}

	code {
		display: inline; margin: 0 2px; padding: 0 3px;
		font-size: 13px;
		font-family: 'Consolas', 'Inconsolata', 'Courier', 'monospace';
		border: 1px solid #eaeaea; border-radius: 3px; background-color: #f8f8f8;
	}
	pre {
		> code {margin: 0;}
		&.code {
			margin: 10px 0; font-size: 0;
			> code {
				display: block;
				margin: 0; padding: 3px 8px; line-height: 1.5;
				overflow: auto; white-space: pre;
			}
		}
	}
}


/* For desktop */
@media all and (min-width:$width-for-desktop) {
	#header {
		h1 {
			float: left; line-height: 31px; padding-top: 5px;
			font-size: 24px;
			a {padding: 0;}
		}
		nav {
			padding: 14px 0 0 0;
			li {
				float: left; margin-right: 15px; width: auto;
				a {font-size:14px; padding: 0;}
			}
		}
	}

	#footer {
		text-align: right;
	}

	.goose-auth {
		fieldset, nav {
			padding: 0;
		}
	}

	.goose-categories {
		a {font-size: 13px;}
	}

	.goose-index {
		
	}
	.jsonCode {margin: 0;}
}
