/* Variables */
/* mixin */
/* placeholder */
#header nav ul:after, .index li > .body:after, .index dl:after, .categories ul:after { content: ''; display: block; clear: both; }

#header nav ul, .categories ul { margin: 0; padding: 0; list-style: none; }

.blind, .auth fieldset legend { position: absolute; overflow: hidden; visibility: hidden; width: 0; height: 0; font-size: 0; line-height: 0; }

.ui-button { display: inline-block; cursor: pointer; margin: 0; padding: 11px 20px; border: none; background: #a5acb0; font-size: 14px; color: white; text-decoration: none; }
.btn-small.ui-button { padding: 8px 15px; font-size: 12px; }
.btn-highlight.ui-button { color: white; background: #72b3ca; }
.btn-block.ui-button { display: block; }

/* Tags */
*, *:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { margin: 0; padding: 0; font-size: 16px; font-family: sans-serif; color: #333333; min-width: 320px; -webkit-text-size-adjust: none; font-size: 13px; line-height: 1.42857; color: #333333; }

img, video, iframe { max-width: 100%; }

img { border: none; }

table { border-collapse: collapse; border-spacing: 0; }
table th, table td { padding: 0; }

form { margin: 0; }

fieldset { margin: 0; padding: 0; border: none; }

ul, ol { margin: 15px 0; padding: 0 0 0 25px; }

li { margin: 3px 0; }

a { color: #2281d8; }

/* Attributes */
.ib { display: inline-block; }

/* Forms */
input[type=email], input[type=text], input[type=password], input[type=number], input[type=tel], textarea { margin: 2px 3px; padding: 8px 8px; font-size: 13px; color: #333; vertical-align: middle; background: white; border: 1px solid #acacac; box-shadow: inset 0 2px 3px 0px rgba(0, 0, 0, 0.2); border-radius: 0; }
input[type=email].marginZero, input[type=text].marginZero, input[type=password].marginZero, input[type=number].marginZero, input[type=tel].marginZero, textarea.marginZero { margin: 0; }
input[type=email].block, input[type=text].block, input[type=password].block, input[type=number].block, input[type=tel].block, textarea.block { width: 100%; margin-left: 0; margin-right: 0; }
input[type=email][disabled], input[type=email][readonly], input[type=text][disabled], input[type=text][readonly], input[type=password][disabled], input[type=password][readonly], input[type=number][disabled], input[type=number][readonly], input[type=tel][disabled], input[type=tel][readonly], textarea[disabled], textarea[readonly] { background: #ddd; }

textarea { line-height: 1.42857; }

select { margin: 0; }

/* Buttons */
button.ui-button { -webkit-appearance: none; border: none; }
button.ui-button.block { width: 100%; }

/* Headding */
.hgroup { padding: 0; position: relative; border-bottom: 1px solid #ccc; }
.hgroup > h1 { font-size: 20px; margin: 0 0 8px; }
.hgroup > h1 a { color: #111111; text-decoration: none; }
.hgroup > p { margin: 0 0 4px; font-size: 13px; color: #666666; }

@media all and (min-width: 640px) { .hgroup { padding: 0; }
  .hgroup > h1 { margin-bottom: 5px; } }
/* Controller */
.controller { margin: 15px 0; }
.controller dl { margin: 0; text-align: center; }
.controller dt, .controller dd { margin: 12px 0; }

@media all and (min-width: 640px) { .controller { margin: 15px 0; }
  .controller:after { content: ''; display: block; clear: both; }
  .controller dl { margin: 0; }
  .controller dt { float: left; margin: 0; }
  .controller dd { float: right; margin: 0; }
  .controller .btngroup { margin: 0; } }
/* Paginate */
.paginate a, .paginate strong { margin: 0; display: inline-block; padding: 9px 13px 6px; color: white; text-align: center; }
.paginate a { text-decoration: none; background: #a5acb0; }
.paginate strong { background: #72b3ca; }

/* Button group */
.btngroup { display: table; width: 100%; margin: 15px 0; }
.btngroup span { display: table-cell; padding-left: 1px; }
.btngroup span:first-child { padding-left: 0; }
.btngroup a { display: block; text-align: center; padding-left: 0; padding-right: 0; }
.btngroup button { width: 100%; }

@media all and (min-width: 640px) { .btngroup { display: block; width: auto; text-align: right; }
  .btngroup span { display: inline-block; }
  .btngroup a { padding-left: 20px; padding-right: 20px; } }
/* table */
.ui-table { width: 100%; border-collapse: collapse; }
.ui-table > caption { text-align: left; font-size: 14px; font-weight: 600; padding: 0 0 5px 0; }
.ui-table th, .ui-table td { padding: 0; border-width: 1px; border-style: solid; border-color: #ccc; }
.ui-table th { text-align: center; }
.ui-table thead th { padding: 8px 0; background: #eee; }
.ui-table tbody th, .ui-table tbody td { padding: 7px 8px; border-bottom: 1px solid #ccc; }
.ui-table tbody th { background: #f9f9f9; white-space: nowrap; }
.ui-table .center { text-align: center; }
.ui-table .nowrap { white-space: nowrap; }

/* list */
.ui-list > li { margin: 5px 0 20px 0; }

/* error message */
.errorMsg { margin: 0; padding: 1em .5em; color: #666; }

/* temp iframe */
#tmp_iframe { position: absolute; left: -100px; top: 0; width: 30px; height: 30px; }

/* Header */
#header { padding: 0 12px 5px; border-bottom: 1px solid #999; background: #a2a5a4; }
#header h1 { margin: 0; padding: 6px 20px 0 0; font-size: 20px; }
#header h1 a { display: inline-block; padding: 1px 0; vertical-align: top; font-family: "Lucida Grande", "Helvetica", sans-serif; color: #fff; text-decoration: none; font-weight: bold; }
#header nav { padding: 5px 0 0 0; }
#header nav li { float: left; margin: 0 10px 0 0; }
#header nav li:last-child { margin-right: 0; }
#header nav a { display: block; padding: 2px 0 4px; font-size: 13px; color: #fff; font-weight: bold; text-decoration: none; }
#header nav a:hover { text-decoration: underline; }

/* Footer */
#footer { margin: 30px 12px 15px; text-align: center; }
#footer address { padding: 0; font-size: 12px; color: #666666; }

/* Container */
#container { margin: 15px 12px; }

/* Auth */
.auth fieldset { margin: 15px 0; padding: 0; }
.auth fieldset label { display: block; margin-bottom: 5px; font-size: 14px; }

/* Index */
.index { margin: 0; padding: 0; list-style: none; }
.index a { text-decoration: none; }
.index li { margin: 0; border-bottom: 1px dashed #d6d6d6; }
.index li > a { display: block; padding: 10px 0; }
.index li > .body { padding: 10px 0; }
.index li > .body > a { display: block; padding: 0; }
.index li:hover { /* background: #f9f9f9; */ }
.index li.placeHolder { background: #e4f5fa; }
.index dl { margin: 0; }
.index dl dt { float: right; padding: 0; margin: -3px 0; }
.index dl dt img { display: block; max-width: 60px; }
.index dl dd { margin: 0; }
.index dl.noimg dd { margin-right: 70px; }
.index .body strong { color: #b68250; font-size: 14px; }
.index .body em { font-style: normal; }
.index .inf { font-size: 13px; color: #666; }
.index .inf span:after { content: ','; }
.index .inf span:last-child:after { content: ''; }
.index .inf p { margin: 0; }
.index nav { float: right; margin-top: 10px; }
.index nav a { display: inline-block; padding: 3px 5px; font-size: 13px; font-weight: 600; color: #666666; text-decoration: none; }
.index nav a.highlight { color: #333333; }
.index .empty { padding: 30px 0; text-align: center; font-size: 16px; color: #666666; border-bottom: 1px dashed #d6d6d6; }
.index .empty:hover { background: none; }

/* Categories */
.categories { border-bottom: 1px solid #ddd; padding: 5px 0; }
.categories li { float: left; }
.categories a { display: block; padding: 3px 8px 3px 5px; font-size: 12px; color: #666666; text-decoration: none; font-family: 'Lucida Grande', 'Helvetica', sans-serif; }
.categories a:hover { text-decoration: underline; }
.categories li.active a { font-weight: bolder; color: #469fc0; text-decoration: underline; }

/* Article body */
.articleBody { border-bottom: 1px solid #ddd; padding: 0 0 15px; margin: 15px 0; }
.articleBody p { margin: 5px 0 10px; }
.articleBody pre { border: 1px dashed #ccc; padding: 12px; background: #fafafa; overflow: auto; -webkit-overflow-scrolling: touch; }

/* Form */
.form input[type=text], .form input[type=tel], .form input[type=email], .form input[type=password], .form textarea { margin: 0; }
.form select { margin-left: 0; }
.form fieldset > dl { margin: 15px 0; }
.form fieldset > dl > dt { margin: 0 0 4px 3px; padding: 0; font-size: 14px; font-weight: 600; word-break: break-all; }
.form fieldset > dl > dt:before { content: ''; display: inline-block; width: 5px; height: 10px; margin-right: 5px; background-image: url("../img/ico_arrow1.png"); background-position: 0 45%; background-repeat: no-repeat; background-size: 5px auto; }
.form fieldset > dl > dd { margin: 3px 0 0 0; font-size: 13px; color: #666666; }
.form fieldset > dl > dd p { margin: 4px 0 0 0; }
.form fieldset > dl > dd .error { color: #e80000; }
.form fieldset > dl > dd label.error { display: block; margin: 4px 0 0 0; }
.form fieldset .required:before { content: '* '; }
.form fieldset > legend { font-size: 18px; margin-bottom: 5px; }
.form .message { color: #666666; font-size: 16px; margin: 0; padding: 30px 0 30px; border-bottom: 1px dashed #ddd; }

/* Settings */
.Documents { color: #333; word-break: break-all; }
.Documents > section { margin: 48px 0; }
.Documents > section.first { margin-top: 0; }
.Documents > section > h1 { margin-bottom: 10px; font-size: 20px; }
.Documents > section > h2 { margin-bottom: 5px; font-size: 18px; }
.Documents > section > p { margin: 5px 0; }
.Documents > section > section { margin: 20px 0; }
.Documents > section > section > h1 { margin: 0 0 5px; font-size: 16px; }
.Documents > section > section > p { margin: 5px 0; }
.Documents > section > section .ui-table { margin: 10px 0; }
.Documents ul, .Documents ol { margin: 10px 0; padding-left: 20px; }
.Documents .ui-table { margin: 20px 0; }
.Documents pre { margin: 10px 0; padding: 12px; border: 1px solid #ddd; font-family: Monaco, Verdana; font-size: 12px; color: #666; white-space: pre-wrap; }

/* JSON */
.jsonCode .snippet-wrap pre.sh_sourceCode { margin-top: 1.5em; }

/* For desktop */
@media all and (min-width: 640px) { #header h1 { float: left; line-height: 31px; padding-top: 5px; font-size: 24px; }
  #header h1 a { padding: 0; }
  #header nav { padding: 14px 0 0 0; }
  #header nav li { float: left; margin-right: 15px; width: auto; }
  #header nav li a { font-size: 14px; padding: 0; }
  #container { margin: 15px 12px 20px; }
  #container .hgroup h1 { font-size: 24px; }
  #footer { text-align: right; }
  .auth fieldset, .auth nav { padding: 0; }
  .index .body strong { font-size: 16px; }
  .index .inf { font-size: 14px; }
  .index dl dt img { max-width: 80px; }
  .index dl.noimg dd { margin-right: 90px; }
  .categories a { font-size: 13px; }
  .form fieldset > dl.table { display: table; width: 100%; margin: 0; border-bottom: 1px solid #ddd; }
  .form fieldset > dl.table.first { border-top: 1px solid #ddd; }
  .form fieldset > dl.table > dt, .form fieldset > dl.table > dd { display: table-cell; vertical-align: middle; padding: 8px 0; }
  .form fieldset > dl.table > dt { width: 130px; margin: 0; padding-left: 10px; padding-right: 10px; font-size: 13px; }
  .form fieldset > dl.table > dd { margin: 0; } }
