@import "init.scss";

/* error message */
.errorMsg {
	margin:0; padding:1em .5em; color:#666;
}


/* Header */
#header {
	padding: 0 $margin_side 5px;
	border-bottom: 1px solid #999;
	background: #a2a5a4;
	h1 {
		margin: 0; padding: 6px 20px 0 0;
		font-size: 20px;
		a {
			display: inline-block; padding: 1px 0;
			vertical-align: top;
			font-family: "Lucida Grande", "Helvetica", sans-serif;
			color: #fff; text-decoration: none; font-weight: bold;
		}
	}
	nav {
		padding: 5px 0 0 0;
		ul {
			@extend %ul;
			@extend %clear;
		}
		li {
			float: left; margin: 0 10px 0 0;
			&:last-child {
				margin-right: 0;
			}
		}
		a {
			display: block; padding: 2px 0 4px;
			font-size: 13px; color: #fff; font-weight: bold; text-decoration: none;
			&:hover {text-decoration: underline;}
		}
	}
}


/* Footer */
#footer {
	margin: 30px $margin_side_min 15px; text-align: center;
	address {
		padding: 0;
		font-size: 12px; color: $color_blur;
	}
}


/* Container */
#container {
	margin: 15px $margin_side_min;
}


/* Auth */
.goose-auth {
	fieldset {
		margin: 15px 0; padding: 0;
		legend {@extend %blind;}
		label {display: block; margin-bottom: 5px; font-size: 14px;}
	}
}


/* Categories */
.goose-categories {
	border-bottom: 1px solid #ddd; padding: 5px 0;
	ul {
		@extend %ul;
		@extend %clear;
	}
	li {float: left;}
	a {
		display: block; padding: 3px 8px 3px 5px;
		font-size:12px; color: $color_blur; text-decoration: none;
		&:hover {text-decoration:underline;}
	}
	li.active a {font-weight:bolder; color:#469fc0; text-decoration:underline;}
}


/* Index */
.goose-index {
	margin: 0; padding: 0; list-style: none;
	em {font-style: normal;}
	> li {
		margin: 0;
		border-bottom:1px dashed #d6d6d6;
		> a {
			display: block; padding: 10px 0; text-decoration: none;
			> dl {
				margin: 0;
				@extend %clear;
				> dt {
					float: right; padding: 0; margin: -3px 0;
					> img {display: block; max-width: 80px;}
				}
				> dd {
					margin: 0;
					&.body {
						> strong {color:#b68250; font-size: 14px;}
						> .inf {
							font-size:13px; color:#666; margin-top: 4px;
							> span {
								&:after {content: ',';}
								&:last-child:after {content: '';}
							}
							> p {margin: 0;}
						}
					}
				}
				&.noimg {
					> dd {margin-right: 90px;}
				}
			}
		}
		> .body {
			@extend %clear;
			padding: 10px 0;
			> a {
				display: block; padding: 0; text-decoration: none;
				> strong {color:#b68250; font-size: 16px;}
			}
			> strong {color:#b68250; font-size: 16px;}
			> .inf {
				font-size: 13px; color: #666; margin-top: 2px;
				> span {
					&:after {content: ',';}
					&:last-child:after {content: '';}
				}
			}
		}
		&.placeHolder {background: #e4f5fa;}
	}
	nav {
		float: right; margin-top: 10px;
		> a {
			display: inline-block; padding: 3px 5px;
			font-size: 13px; font-weight: 600; color: $color_blur;
			text-decoration: none;
			&.highlight {color: $color_basic;}
		}
	}
	> .empty {
		padding: 30px 0; text-align: center; font-size: 16px; color: $color_blur;
		border-bottom:1px dashed #d6d6d6;
		&:hover {background: none;}
	}
}


/* Form */
.goose-form {
	input[type=text],
	input[type=tel],
	input[type=email],
	input[type=password],
	textarea {
		margin: 0;
	}
	select {margin-left: 0;}
	fieldset {
		> dl {
			margin: 15px 0;
			> dt {
				margin: 0 0 4px 3px; padding: 0;
				font-size: 14px; font-weight: 600;
				word-break: break-all;
				&:before {
					content: ''; display: inline-block;
					width: 5px; height: 10px; margin-right: 5px;
					background-image:url('../img/ico_arrow1.png');
					background-position:0 45%;
					background-repeat:no-repeat;
					background-size:5px auto;
				}
			}
			> dd {
				margin: 3px 0 0 0; font-size: 13px; color: $color_blur;
				> p {margin: 4px 0 0 0;}
				.error {color: #e80000;}
				label.error {display: block; margin: 4px 0 0 0;}
			}
		}
		.required:before {content: '* ';}
		> legend {font-size: 18px; margin-bottom: 5px;}
	}
	.message {
		color: $color_blur; font-size: 16px; margin: 0; padding: 30px 0 30px;
		border-bottom: 1px dashed #ddd;
	}

}


/* JSON */
.jsonCode {
	.snippet-wrap pre.sh_sourceCode {margin-top: 1.5em;}
}


/* Documents (help) - 컨텐츠 삭제예정 */
.Documents {
	color: #333; word-break: break-all;
	> section {
		margin: 48px 0;
		&.first {margin-top: 0;}
		> h1 {margin-bottom: 10px; font-size: 20px;}
		> h2 {margin-bottom: 5px; font-size: 18px;}
		> p {margin: 5px 0;}
		> section {
			margin: 20px 0;
			> h1 {margin: 0 0 5px; font-size: 16px;}
			> p {margin: 5px 0;}
			.ui-table {margin: 10px 0;}
		}
	}
	ul, ol {
		margin: 10px 0; padding-left: 20px;
	}
	.ui-table {margin: 20px 0;}
	pre {
		margin: 10px 0; padding: 8px;
		font-family: Monaco, Verdana; font-size: 12px; color: #333; white-space: pre-wrap;
		border: 1px solid #ddd; border-radius: 4px;
		background: #fafafa;
	}
}


/* For desktop */
@media all and (min-width:640px) {
	#header {
		h1 {
			float: left; line-height: 31px; padding-top: 5px;
			font-size: 24px;
			a {padding: 0;}
		}
		nav {
			padding: 14px 0 0 0;
			li {
				float: left; margin-right: 15px; width: auto;
				a {font-size:14px; padding: 0;}
			}
		}
	}

	#container {
		margin: 15px $margin_side 20px;
		.hgroup {
			> h1 {font-size: 24px;}
			> p {
				span {
					&:before {
						content: '| '; padding-left: 3px; padding-right: 3px; color: #999;
					}
					&:first-child:before {display: none;}
				}
			}
			&.detail > h1 {font-size: 16px; margin-bottom: 0;}
		}
	}

	#footer {
		text-align: right;
	}

	.goose-auth {
		fieldset, nav {
			padding: 0;
		}
	}

	.goose-categories {
		a {font-size: 13px;}
	}

	.goose-form {
		fieldset {
			> dl.table {
				display: table; width: 100%; margin: 0;
				border-bottom: 1px solid #ddd;
				&.first {border-top: 1px solid #ddd;}
				> dt, > dd {display: table-cell; vertical-align: middle; padding: 8px 0;}
				> dt {width: 130px; margin: 0; padding-left: 10px; padding-right: 10px; font-size: 13px;}
				> dd {margin: 0;}
			}
		}
	}

	.goose-index {
		.body {
			strong {font-size: 16px;}
		}
		.inf {font-size:14px;}
		dl {
			dt {
				img {max-width: 80px;}
			}
			&.noimg {
				dd {margin-right: 90px;}
			}
		}
	}
}