/* Variables */
$button_basicColor: #a5acb0;
$button_backgroundHighlightColor: #72b3ca;
$button_textColor: #fff;

$color_strong: #111;
$color_basic: #333;
$color_blur: #666;
$color_warning: #f00;
$color_highlight: #72b3ca;

$text_text-size: 14px;
$text_line-height: 1.428571429;

$margin_side: 12px;
$margin_side_min: 12px;

/* mixin */
@mixin gradiant($startColor:#ffffff, $endColor:#000000, $mattColor:#666666) {
	background: $mattColor;
	background: -webkit-gradient(linear, left top, left bottom, from(#{$startColor}), to(#{$endColor}));
	background: -moz-linear-gradient(top, #{$startColor}, #{$endColor});
	background: -o-linear-gradient(top, #{$startColor}, #{$endColor});
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#{$startColor}', endColorstr='#{$endColor}');
}


/* placeholder */
%clear {
	&:after {content:''; display:block; clear: both;}
}

%ul {
	margin: 0; padding: 0; list-style: none;
}

%blind {
	position: absolute; overflow: hidden; visibility: hidden;
	width: 0; height: 0; font-size: 0; line-height: 0;
}

%button {
	display: inline-block; cursor: pointer;
	margin: 0; padding: 11px 20px;
	border: none;
	background: $button_basicColor;
	font-size: 14px; color: $button_textColor; text-decoration: none;
	&.btn-small {
		padding:8px 15px; font-size: 12px;
	}
	&.btn-highlight {
		color: $button_textColor;
		background: $button_backgroundHighlightColor;
	}
	&.btn-block {
		display: block;
	}
}

