// images list
.imagesList {
	margin: 20px 0 40px; padding: 0; list-style: none;
	&:after {content: ''; display: block; clear: both;}

	li {margin: 0; float: left; width: auto;}
	.wrap {border: 3px solid #ccc; margin: 0 5px 10px; padding: 10px;}
	figure {
		margin: 0;
		img {display: block; margin: 0 auto;}
	}

	// body
	.body {
		margin: 0;
		h3 {
			margin: 0 0 5px; display: none;
			font-size: 14px; color: #333;
			white-space: nowrap; overflow: hidden; text-overflow: ellipsis;
		}
		p {margin: 10px 0;}
		strong, span {font-size: 13px;}
		strong {display: block; font-size: 12px;}
		span {display: block; color: #666;}
	}

	li {
		@media all and (min-width:640px) {
			width: 50%;
			&:nth-child(2n+1) {clear: both;}
		}
		@media all and (min-width:1024px) {
			width: 25%;
			&:nth-child(2n+1) {clear: none;}
			&:nth-child(4n+1) {clear: both;}
		}
		@media all and (min-width:1440px) {
			width: 16.66%;
			&:nth-child(4n+1) {clear: none;}
			&:nth-child(6n+1) {clear: both;}
		}
		@media all and (min-width:2100px) {
			width: 12.5%;
			&:nth-child(6n+1) {clear: none;}
			&:nth-child(8n+1) {clear: both;}
		}
	}
}
