.get-source {
	margin-bottom: 5px; font-size:0;
	&:after {content: ''; display: block; clear: both;}
	ul {
		margin: 0; padding: 0; list-style: none;
		float: right;
	}
	li {
		float: left; margin-left: 3px;
		> button {margin: 0;}
	}

	.form {
		clear: both; position: relative; display: none;
		&.on {display: block;}
		> .wrap {
			position: absolute; right:0; top:0; z-index: 10;
			width: 60%; width: 60vw;
			padding: 15px;
			background: #eee;
		}
		h1 {
			margin: 0 0 6px;
			color: #111; font-size: 16px;
		}
		p {
			margin: 0 0 10px;
			font-size:13px;
		}
		textarea {
			margin: 0;
			width:100%; height: 100px; height: 40vh;
		}
	}

	@media all and (max-width:640px) {
		.form {
			> .wrap {width:100%;}
		}
	}
}