
/* Sprite image */
%sp-ico {
	display: inline-block;
	background: url('img/sp-icon@x1.png') 0 0 no-repeat;
	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi){
		background-image: url('img/sp-icon@x2.png');
		background-size: 100px 50px;
	}
}


/* index */
#jsonIndex {
	position: relative; font-size: 13px;
	ul {margin: 0; padding: 0 0 0 22px; list-style: none; clear: both;}
	> ul {
		margin: 5px 0; padding: 10px;
		border-width: 1px 1px; border-style: solid; border-color: #ccc;
	}

	li {
		padding: 0; margin: 2px 0;
		> dl {
			margin: 0; display: table; width: 100%;
			> dt, > dd {
				display: table-cell; vertical-align: top; padding: 3px 5px;
			}
			> dt {
				width: 30px; white-space: nowrap;
				padding-left: 0; padding-right: 8px;
				color: #333;
				em {
					display: inline-block;
					font-style: normal; color: #999;
				}
				> em.no {
					margin: 0 3px 0 5px; display: none;
					&:before {content: '[';}
					&:after {content: ']';}
				}
				> strong {
					display: inline-block; font-weight: normal; min-width: 40px;
					&:empty:not(:focus):before {
						content: attr(data-ph);
						color: #aaa;
					}
				}
				> .type {display: none; color: #999;}
				> em.count {
					margin: 0 0 0 4px;
				}
				> button {
					display: inline-block; margin: -3px 0;
					cursor: pointer; text-indent: -9999px;
					width: 24px; height: 24px;
					border: none;
					@extend %sp-ico;
					&.on {
						background-color: #eee;
					}
					&[role=toggle] {background-position: 9px -23px;}
				}
			}
			> dd {
				position: relative; padding-left: 12px; color: #666;
				&:before {
					content: ':';
					display: block; position: absolute; left: 0; top: 2px;
				}
				> span {
					min-width: 40px;
					&:empty:not(:focus):before {
						content: 'empty';
						color: #aaa;
					}
				}
			}
		}
		> ul {display: none;}
		&.on {
			> dl > dt > [role=toggle] {background-position: -8px -21px;}
			> ul {display: block;}
		}
		&[type=Object] {
			> dl {
				> dt {
					> .count {
						&:before {content: '{';}
						&:after {content: '}';}
					}
					> .type {
						&:before {content: 'Object'}
					}
				}
				> dd {display: none;}
			}
		}
		&[type=Array] {
			> dl {
				> dt {
					> .count {
						&:before {content: '[';}
						&:after {content: ']';}
					}
					> .type {
						&:before {content: 'Array'}
					}
				}
				> dd {display: none;}
			}
			> ul {
				> li {
					> dl > dt {
						> .no {display: inline-block;}
						> strong {}
					}
				}
				> li[type=String] {
					> dl > dt {
						> strong {display: none;}
					}
				}
				> li[type=Object],
				> li[type=Array] {
					> dl > dt {
						> strong {display: none;}
						> .type {display: inline;}
					}
				}
			}
		}
		&[type=String] {
			> dl {
				> dt {
					> strong {margin-left: 8px;}
					> .count {display: none;}
					> button[role=toggle] {display: none;}
					> .type {
						&:before {content: 'String'}
					}
				}
				> dd {}
			}
			> ul {display: none;}
		}
		&[loc=root] {
			> dl > dt {
				> strong {display: none;}
				> .type {display: inline;}
			}
		}
	}
	button[role=move] {background-position: -50px -26px;}
	button[role=control] {background-position: -73px -24px;}
}


/* Context */
#context {
	position: absolute; left: 0; top: 0;
	min-width: 120px; display: none;
	ul {
		margin: 0; padding: 0; list-style: none;
		border: 1px solid #ccc;
		box-shadow: 0 2px 3px rgba(0,0,0,.1);
		background: #fff;
		> li {
			position: relative; margin: 0;
			> button {
				display: block; margin: 0; padding: 7px 8px; width: 100%;
				cursor: pointer;
				color: #333; font-size: 12px;
				border: none; background: none; text-align: left;
			}
			&:hover > button {background: #eee;}
		}
	}
	> ul {
		> li {
			> div {
				position: relative; display: none; z-index: 2;
				> ul {
					position: absolute;
					left: 98%; top: -1px;
					min-width: 100px;
				}
			}
			&:hover {
				> div {display: block;}
			}
		}
	}
	&[type] {display: block;}
	&[type=Object] {}
	&[type=String] {
		> ul {
			> li[role=Insert] {display: none;}
		}
	}
	&[loc=root] {
		> ul {
			> li[role=Duplicate],
			> li[role=Remove] {
				display: none;
			}
			> li[role=Type] {
				li[role=String] {display: none;}
			}
		}
	}
	li[role=Type]:after,
	li[role=Insert]:after {
		content: ''; display: block; z-index: 1;
		width: 5px; height: 8px; margin-top: -4px;
		position: absolute; right: 10px; top: 50%;
		background-position: 0 -30px;
		@extend %sp-ico;
	}
}


/* result */
#result {
	border: 1px solid #ccc; min-height: 100px; padding: 12px 15px;
	font-size: 13px;
}


/* jQuery Sortable */
body.dragging {width: 100%; overflow: hidden}
body.dragging, body.dragging * {cursor: move !important;}
.dragged {
	position: absolute; opacity: 0.3; z-index: 2000;
	background: white;
	border: 1px dashed #999;
}
#jsonIndex {
	li.placeholder {position: relative;}
	li.placeholder:before {
		position: absolute;
		content: '';
		left: 0; right: 0; top: -1px; height: 3px; background: #7a7c7d;
	}
}