* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	margin: 0; padding: 0;
	font-family: 'Lucida Grande', Helvetica, sans-serif;
}
button {
	margin: 0; padding: 14px 20px; cursor: pointer;
	font-size: 16px; color: #fff; font-weight: 600;
	background: #72B3CA;
	border: none;
}

main {margin: 0 auto; padding: 10px 15px 30px; max-width: 720px;}
header {
	h1 {color: #b31e37; font-size: 32px; text-align: center;}
	.error {color: red; font-size: 14px; font-weight: bold;}
}
form {
	margin: 0; padding: 0;
	fieldset {
		margin: 0 0 20px; padding: 15px; border: 1px solid #A2A5A4;
		legend {font-size: 16px; font-weight: 600; color: #000;}
	}
	label {
		display: block; margin: 20px 0;
		> strong {
			margin: 0 0 5px 0; font-weight: normal;
			display: block; font-size: 14px; color: #333;
			&:before {
				content: '- ';
			}
		}
		> span {
			display: block;
			input {
				margin: 0; padding: 9px 8px; width: 100%;
				font-size: 14px; color: #333;
				border: 1px solid #aaa;
				box-shadow: inset 1px 1px 3px rgba(0,0,0,.2);
				&[readonly] {
					background: #eee;}
			}
			.error {color: #da1313;}
			span {
				display: block;
				margin: 5px 0 0;
				font-size: 12px; color: #666;
			}
			> label.error {display: block; margin: 6px 0 0; font-size: 13px;}
		}
	}
	legend + label {margin-top: 5px;}
	hr {
		display: block;
		margin: 20px 0; height: 1px;
		background: #ddd; border: none;
	}
	> nav {
		margin: 15px 0;
		text-align: center;
		button {
			width: 100%;
			text-transform: uppercase;
			border-radius: 0;
		}
	}
}


@media (min-width: 600px) {
	form {
		label {
			display: table; width: 100%; margin: 10px 0;
			> strong, > span {display: table-cell; vertical-align: middle;}
			> strong {width: 170px;}
			> span {
				input {width: auto;}
			}
		}
		> nav {
			button {width: auto; padding-left: 30px; padding-right: 30px;}
		}
	}
}